
@import './../../../../../assets/sass/imports/media-queries'

.ciab-section-noomis-ciab-febraban
  background-repeat: no-repeat
  background-size: 515px 448px
  background-position: bottom 10% left
  @include MQ(MD)
    background-image: url('./../../../../../assets/images/press/app-press.svg')

.ciab-section-box-gray
  background-color: #F5F5F5
  padding: 32px
  @include MQ(LG)
    padding: 64px
