<app-page-header
  [backgroundImage]="'./../../../../assets/images/press/app-press-page-header-background-image.jpg'">
  <h1 class="mb-0">Informações sobre o CIAB FEBRABAN</h1>
</app-page-header>
<div class="app-section app-section-noomis-ciab-febraban pb-0">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <img src="./assets/images/home/slide-3-image-2.svg" alt="noomis CIAB FEBRABAN" title="noomis CIAB FEBRABAN">
      </div>
      <div class="col-8">
        <div class="app-section-box-gray">
          <p class="app-text-highlight">Conectar para expandir</p>
          <p>Conheça a <b>noomis</b>, o ponto de conexão entre pessoas e empresas do setor financeiro com interesse na evolução tecnológica; um ambiente inovador com notícias e análises aprofundadas. É a plataformma digital em que você encontra informações confiáveis, analíticas e imparciais, por meio de reportagen, blogs, vídeos, podcasts e newsletter, para estar sempre atualizado e envolvido com as novidades nesse mercado.</p>
          <p>A plataforma, uma iniciativa CIAB FEBRABAN, tem, na sua essência, o conceito de "conectar para expandir". Por meio de uma cuidadosa produção e curadoria, a noomis vai reunir os profissionais e especialistas mais relevantes da área, e oferecer um espaço de trocas e conexões ligadas à vanguarda de tecnologia do setor, que desponta entre os mais avançados do mundo.</p>
          <button type="button" class="app-button app-button-yellow">Acesse</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="app-section">
  <div class="container">
    <div class="app-box app-box-blue">
      <div class="row align-items-center">
        <div class="col-4">
          <div class="app-box-bar app-box-bar-yellow"></div>
          <h2 class="m-0">
            Assessoria<br>
            de imprensa
          </h2>
        </div>
        <div class="col-8">
          <p>Para receber press releases, participar de coletivas e fazer a cobertura do evento, entre em contato conosco.</p>
          <p>
            <b>Assessoria de Impresa CIAB FEBRABAN</b><br>
            Comunicação FEBRABAN
          </p>
          <p class="app-text-yellow mb-0">imprensa@febraban.org.br</p>
        </div>
      </div>
    </div>
    <div class="mt-3 mt-lg-5 text-center">
      <app-sponsors>
      </app-sponsors>
    </div>
  </div>
</div>