
@import './../../../../../assets/sass/imports/media-queries'

app-page-header
  background-image: url('/assets/images/press/app-press-page-header-background-image.jpg')

.ciab-section-noomis-ciab-febraban
  background-repeat: no-repeat
  background-size: 515px 448px
  background-position: bottom 10% left
  @include MQ(MD)
    background-image: url('/assets/images/press/app-press.svg')

.ciab-section-box-gray
  background-color: #F5F5F5
  padding: 32px
  @include MQ(LG)
    padding: 64px

.ciab-text-icon-email
  background-image: url('/assets/images/icons/email.svg')
  background-repeat: no-repeat
  background-size: 23px 18px
  background-position: left top 7px
  line-height: 28px
  padding-left: 23px + 8px
