<app-page-header>
  <h1 class="mb-0" i18n>Informações sobre o CIAB FEBRABAN</h1>
</app-page-header>
<div class="ciab-section ciab-section-noomis-ciab-febraban pb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center text-md-left mb-3 mb-md-0">
        <img
          src="assets/images/home/slide-3-image-2.svg"
          alt="noomis CIAB FEBRABAN"
          title="noomis CIAB FEBRABAN"
          i18n-alt
          i18n-title>
      </div>
      <div class="col-md-8">
        <div class="ciab-section-box-gray">
          <p class="ciab-text-highlight" i18n>Conectar para expandir</p>
          <p i18n>Conheça a <span class="font-weight-bold">noomis</span>, o ponto de conexão entre pessoas e empresas do setor financeiro com interesse na evolução tecnológica; um ambiente inovador com notícias e análises aprofundadas. É a plataformma digital em que você encontra informações confiáveis, analíticas e imparciais, por meio de reportagen, blogs, vídeos, podcasts e newsletter, para estar sempre atualizado e envolvido com as novidades nesse mercado.</p>
          <p i18n>A plataforma, uma iniciativa CIAB FEBRABAN, tem, na sua essência, o conceito de "conectar para expandir". Por meio de uma cuidadosa produção e curadoria, a noomis vai reunir os profissionais e especialistas mais relevantes da área, e oferecer um espaço de trocas e conexões ligadas à vanguarda de tecnologia do setor, que desponta entre os mais avançados do mundo.</p>
          <button type="button" class="ciab-button ciab-button-yellow" i18n>Acesse</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="assessoria-de-imprensa" class="ciab-section">
  <div class="container">
    <div class="ciab-box ciab-box-blue-dark">
      <div class="row">
        <div class="col-lg-4 lg-3 mb-lg-0">
          <div class="ciab-bar ciab-bar-yellow"></div>
          <h2 class="mb-3 mb-lg-0" i18n>
            Assessoria<br>
            de imprensa
          </h2>
        </div>
        <div class="col-lg-8">
          <p i18n>Para receber press releases, participar de coletivas e fazer a cobertura do evento, entre em contato conosco.</p>
          <p i18n>
            <b>Assessoria de Imprensa CIAB FEBRABAN</b><br>
            Comunicação FEBRABAN
          </p>
          <p class="ciab-text-icon-email ciab-text-color-yellow mb-0">imprensa@febraban.org.br</p>
        </div>
      </div>
    </div>
    <div class="mt-3 mt-lg-5 text-center">
      <app-sponsors>
      </app-sponsors>
    </div>
  </div>
</div>