<div class="row">
  <div class="col">
    <img src="./assets/images/shared/gallery/gallery-1.jpg" alt="" title="">
  </div>
  <div class="col">
    <div class="row" style="margin-bottom: 27px;">
      <div class="col">
        <img src="./assets/images/shared/gallery/gallery-2.jpg" alt="" title="">
      </div>
      <div class="col">
        <img src="./assets/images/shared/gallery/gallery-3.jpg" alt="" title="">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="./assets/images/shared/gallery/gallery-4.jpg" alt="" title="">
      </div>
      <div class="col">
        <img src="./assets/images/shared/gallery/gallery-5.jpg" alt="" title="">
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center" style="margin-top: 30px;">
  <div class="col-auto">
    <button type="button" class="app-gallery-button app-gallery-button-previous"></button>
  </div>
  <div class="col-auto">
    <button type="button" class="app-gallery-button"></button>
  </div>
</div>
