<app-page-header>
  <h1 i18n>Garanta já o seu lugar no maior congresso de tecnologia da informação para o setor financeiro, as vagas são limitadas e você não pode ficar de fora</h1>
  <app-page-header-menu></app-page-header-menu>
</app-page-header>
<div class="ciab-section ciab-section-avoid-lines">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="mb-3" i18n>Evite filas!</h2>
        <div class="ciab-bar ciab-bar-blue-light"></div>
        <p i18n>Ao fazer sua inscrição com antecedência, além de você ficar tranquilo e garantir o seu lugar em um fórum especializado de tecnologia e digital, com um conteúdo qualificado, apresentado por renomados palestrantes nacionais internacionais sobre inovações, transformações digitais e o futuro do sistema financeiro, você ganha tempo no dia do evento.</p>
      </div>
      <div class="col-lg-6">
        <p class="ciab-text-highlight ciab-text-color-blue-dark" i18n>Benefícios exclusivos para pré-inscritos:</p>
        <p class="ciab-text-icon-check-circle" i18n>Retirar a credencial nos totens de autoatendimento.</p>
        <p class="ciab-text-icon-check-circle" i18n>Os participantes da cidade de São Paulo que realizarem a inscrição até o dia 10 de maio, receberão sua credencial e material do congressista no endereço informado no ato da inscrição.</p>
        <p class="ciab-text-icon-check-circle" i18n>No dia 10/06 o credenciamento estará aberto das 14h às 18h para retirada antecipada da credencial e do material de congressista.</p>
        <button class="ciab-button ciab-button-blue-dark" i18n>Increva-se agora</button>
      </div>
    </div>
  </div>
</div>
<div class="ciab-section ciab-section-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-3 mb-lg-0">
        <div class="ciab-subscription-box-title ciab-subscription-box-title-blue-dark" i18n>Congressista</div>
        <div class="row mt-3 mt-lg-5">
          <div class="col-lg-6 mb-3 mb-lg-0">
            <div class="ciab-subscription-table ciab-subscription-table-blue-dark">
              <div class="ciab-subscription-table-header">
                <p class="ciab-text-highlight" i18n>03 dias de evento</p>
                <p i18n>(valor por participante)</p>
              </div>
              <div class="ciab-subscription-table-body">
                <p i18n>Acesso a área de exposição nos 3 (três) dias de evento</p>
                <p i18n>Participação nos 3 (três) dias de evento</p>
                <p i18n>Acesso em todos os auditórios</p>
                <p i18n>Coffee break</p>
                <p i18n>Certificado online</p>
                <p i18n>Material do evento</p>
                <p i18n><i><b>Não inclui:</b> almoço e estacionamento</i></p>
              </div>
              <div class="ciab-subscription-table-footer">
                <p class="ciab-text-highlight ciab-text-color-blue-dark mb-0" i18n>2.770,00</p>
                <p i18n>Associado</p>
                <p class="ciab-text-highlight ciab-text-color-blue-dark mb-0" i18n>3.475,00</p>
                <p i18n>Público geral</p>
                <button class="ciab-button ciab-button-block ciab-button-blue-dark" i18n>Inscreva-se!</button>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ciab-subscription-table ciab-subscription-table-blue-dark">
              <div class="ciab-subscription-table-header">
                <p class="ciab-text-highlight" i18n>01 dia de evento</p>
                <p i18n>(valor por participante)</p>
              </div>
              <div class="ciab-subscription-table-body">
                <p i18n>Acesso à área de exposição nos 3 (três) dias de evento (não somente no dia escolhido)</p>
                <p i18n>Participação em 1 (um) dia de evento *</p>
                <p i18n>Acesso em todos os auditórios durante o dia escolhido</p>
                <p i18n>Coffee break</p>
                <p i18n>Certificado online</p>
                <p i18n>Material do evento</p>
                <p i18n><i><b>Não inclui:</b> almoço e estacionamento</i></p>
              </div>
              <div class="ciab-subscription-table-footer">
                <p class="ciab-text-highlight ciab-text-color-blue-dark mb-0" i18n>1.330,00</p>
                <p i18n>Associado</p>
                <p class="ciab-text-highlight ciab-text-color-blue-dark mb-0" i18n>1.670,00</p>
                <p i18n>Público geral</p>
                <button class="ciab-button ciab-button-block ciab-button-blue-dark" i18n>Inscreva-se!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="ciab-subscription-box-title ciab-subscription-box-title-red" i18n>Visitante</div>
        <div class="ciab-subscription-table ciab-subscription-table-red mt-3 mt-lg-5">
          <div class="ciab-subscription-table-header">
            <p class="ciab-text-highlight" i18n>03 dias de evento</p>
            <p i18n>(valor por participante)</p>
          </div>
          <div class="ciab-subscription-table-body">
            <p i18n>Acesso à área de exposição nos 3 (três) dias de evento (não tem acesso ao Congresso)</p>
            <p i18n>Os visitantes terão direito a assistir 01 (uma) palestra do Congresso, exceto no Auditório FEBRABAN, conforme disponibilidade</p>
            <p i18n><i><b>Não inclui:</b> almoço e estacionamento</i></p>
          </div>
          <div class="ciab-subscription-table-footer">
            <p class="ciab-text-highlight ciab-text-color-red mb-0" i18n>Isento</p>
            <p i18n>Associado</p>
            <p class="ciab-text-highlight ciab-text-color-red mb-0" i18n>385,00</p>
            <p i18n>Público geral</p>
            <button class="ciab-button ciab-button-block ciab-button-red" i18n>Inscreva-se!</button>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center mt-3 mt-lg-5 mb-0" i18n>Parceiros Estratégicos/Apoiadores tem 20% de desconto sobre a taxa do Público geral.</p>
    <p class="mb-0 text-center" i18n>Patrocinadores/Expositores tem 10% de desconto sobre a taxa do Público geral.</p>
  </div>
</div>
<div class="ciab-section pb-0">
  <div class="container">
    <div class="ciab-box ciab-box-blue-light">
      <div class="row">
        <div class="col-lg-4 lg-3 mb-lg-0">
          <div class="ciab-bar ciab-bar-blue-dark"></div>
          <h2 class="mb-3 mb-lg-0" i18n>Bonificações</h2>
        </div>
        <div class="col-lg-8">
          <p i18n><b>A cada 10 inscrições da mesma categoria a 11ª é gratuita</b>, válidas somente para compras em lote com 10 ou mais inscrições.</p>
          <button class="ciab-button ciab-button-blue" i18n>Inscreva-se agora!</button>
        </div>
      </div>
    </div>
    <h2 class="text-center my-3 my-lg-5" i18n>Informações importantes</h2>
    <div class="row">
      <div class="col-lg-4">
        <p class="ciab-text-highlight ciab-text-color-blue-dark" i18n>Opções de pagamento</p>
        <p i18n>Boleto Bancário e Cartões de Crédito Nacionais e Internacionais</p>
        <p i18n>Pessoa Física (PF) ou Pessoa Jurídica (PJ)</p>
        <p class="font-weight-bold" i18n>Nota Fiscal será enviada somente após realização do evento.</p>
        <p i18n>
          <b>Impostos:</b>
          Por determinação da lei 12.741/2012, informamos o percentual dos tributos incidentes: 12,6% (ISS Municipal 5% - COFINS Federal 7,6%)
        </p>
      </div>
      <div class="col-lg-4">
        <p class="ciab-text-highlight ciab-text-color-blue-dark" i18n>Reembolso e cancelamento</p>
        <p i18n>Os pedidos de cancelamento de inscrições devem ser solicitados por e-mail, para <span class="ciab-text-color-blue-dark">eventos@febraban.org.br</span> até <b>5 dias úteis antes da realização do evento</b>.</p>
        <p i18n>Os reembolsos serão efetuados pelo valor líquido, deduzidas todas as despesas bancárias provenientes da transferência bancária.</p>
        <p i18n>Após o prazo estipulado acima não serão aceitos pedidos de reembolso ou cancelamentos.</p>
      </div>
      <div class="col-lg-4">
        <p class="ciab-text-highlight ciab-text-color-blue-dark" i18n>Substituição de participante</p>
        <p i18n>Os pedidos de substituição de participante devem ser solicitados por e-mail, para <span class="ciab-text-color-blue-dark">eventos@febraban.org.br</span> até <b>2 dias úteis antes da realização do evento</b>. (*)</p>
        <p i18n>Para substituições solicitadas durante a realização do evento a Organização cobrará uma taxa de R$ 250,00 pela reemissão do crachá. O respectivo pagamento deverá ser efetuado no ato da solicitação.</p>
        <p class="font-italic" i18n>(*) Exceção somente para o participante que precisar substituir a sua participação, e já tiver recebido antecipadamente o material do congressista, será obrigatória a apresentação da credencial do participante originalmente inscrito no credenciamento do evento, a partir do dia 10/06/2019, para o procedimento de substituição de participante e troca da credencial.</p>
      </div>
    </div>
  </div>
</div>
<div class="ciab-section">
  <div class="container">
    <div class="text-center">
      <app-sponsors></app-sponsors>
    </div>
  </div>
</div>
