
@import './../../../../../assets/sass/imports/variables'
@import './../../../../../assets/sass/imports/media-queries'

app-page-header
  background-image: url('~/assets/images/subscription/app-subscription-page-header-background-image.jpg')

.ciab-section-avoid-lines
  background-repeat: no-repeat
  background-size: 513px 249px
  background-position: bottom left
  @include MQ(LG)
    background-image: url('~/assets/images/subscription/app-subscription.svg')
    padding-bottom: $SPACE * 3 + 93px
  @include MQ(XL)
    padding-bottom: $SPACE * 4 + 141px

.ciab-section-gray
  background-color: #F5F5F5
