<h2 class="text-center mb-3 mb-lg-5" i18n>Keynote speakers</h2>
<div class="row">
  <div class="col-md-4 mb-3 mb-md-0">
    <app-keynote-speaker
      [keynoteSpeakerData]="{
        photo: './assets/images/home/andre-rodrigues-cano.jpg',
        name: 'André Rodrigues Cano',
        description: 'Diretor, vice-presidente e diretor de relações com investidores do banco Bradesco.'
      }">
    </app-keynote-speaker>
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
    <app-keynote-speaker
      [keynoteSpeakerData]="{
        photo: './assets/images/home/andre-rodrigues-cano.jpg',
        name: 'André Rodrigues Cano',
        description: 'Diretor, vice-presidente e diretor de relações com investidores do banco Bradesco.'
      }">
    </app-keynote-speaker>
  </div>
  <div class="col-md-4">
    <app-keynote-speaker
      [keynoteSpeakerData]="{
        photo: './assets/images/home/andre-rodrigues-cano.jpg',
        name: 'André Rodrigues Cano',
        description: 'Diretor, vice-presidente e diretor de relações com investidores do banco Bradesco.'
      }">
    </app-keynote-speaker>
  </div>
</div>
<div class="text-center mt-3">
  <button type="button" class="ciab-button ciab-button-blue" i18n>Ver todos os keynote speakers</button>
</div>
