
@import './../../../../../assets/sass/imports/media-queries'

.ciab-speaker-modal-body
  padding: 16px
  @include MQ(LG)
    padding: 32px

.ciab-speaker-modal-photo
  width: 350px
  height: 350px

.ciab-speaker-modal-name
  font-size: 26px
  font-weight: 800
  color: #001A72

.slide
  padding-bottom: 16px + 3px
  outline: none
  @include MQ(LG)
    padding-bottom: 32px + 3px
