<footer class="app-footer">
  <div class="container">
    <div class="app-footer-info row">
      <div class="col-xl-4 mb-3 mb-xl-0">
        <img
          src="./assets/images/shared/logo-ciab-febraban-2020-black.svg"
          alt="CIAB FEBRABAN 2020"
          title="CIAB FEBRABAN 2020">
        <p>
          De 23 a 25 de junho de 2020<br>
          Transamerica Expo Center em São Paulo<br>
          10h às 19h
        </p>
        <div>
          <a href="https://www.facebook.com/noomisoficial/" target="_blank" class="btn btn-icon btn-icon-facebook"></a>
          <a href="https://twitter.com/NOOMISOFICIAL/" target="_blank" class="btn btn-icon btn-icon-twitter"></a>
          <a href="https://www.linkedin.com/showcase/noomis-ciab-febraban/" target="_blank" class="btn btn-icon btn-icon-linkedin"></a>
        </div>
      </div>
      <div class="col-xl-4 mb-3 mb-xl-0">
        <h3>Quer patrocinar/expor?</h3>
        <p>Participe e fique frente a frente com os melhores especialistas de tecnologia e do setor financeiro.</p>
        <button type="button" class="app-saiba-mais">Saiba mais</button>
      </div>
      <div class="col-xl-4">
        <h3>Contato</h3>
        <p>
          (+55 11) 3244-9897 ou (+55 11) 3244-9838<br>
          comercial.ciab@febraban.org.br
        </p>
        <p>
          Diretoria de Eventos da FEBRABAN<br>
          (+55 11) 3244-9860<br>
          eventos@febraban.org.br
        </p>
        <p class="mb-0">
          (+55 11) 3244-9831<br>
          imprensa@febraban.org.br
        </p>
      </div>
    </div>
    <div class="app-footer-register-box">
      <div class="row align-items-center">
        <div class="col-12 col-xl mb-3 mb-xl-0">
          <h3>Cadastre-se e receba as novidades do evento</h3>
          <p class="mb-0">O CIAB FEBRABAN é o ponto de encontro para ficar por dentro dos assuntos mais importantes sobre tecnologias disruptivas e as transformações digitais, e uma oportunidade única para ampliar relacionamentos e parcerias.</p>
        </div>
        <div class="col-12 col-xl-auto">
          <button type="button" (click)="open(modalCadastreSe)">Cadastre-se</button>
        </div>
      </div>
    </div>
    <p class="app-footer-text">© FEBRABAN - Federação Brasileira de Bancos - 2017 - Todos os direitos reservados | Termos de Uso | Política de Privacidade</p>
  </div>
</footer>
<ng-template #modalCadastreSe let-modal>
  <div class="row">
    <div class="col-lg-6 pr-lg-0">
      <div class="app-modal-register-background">
        <p class="m-0">Receba as novidades e fique por dentro do maior e melhor evento de tecnologia para o mercado financeiro da América Latina.</p>
      </div>
    </div>
    <div class="col-lg-6 pl-lg-0">
      <div class="app-modal-register-form">
        <h3>Cadastre-se</h3>
        <p>Estas informações serão usadas exclusivamente para o envio de informações e novidades sobre o CIAB FEBRABAN.</p>
        <form [formGroup]="registerForm">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="name" placeholder="Nome">
            <app-form-control-message [abstractControl]="registerForm.controls.name"></app-form-control-message>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" formControlName="email" placeholder="E-mail">
            <app-form-control-message [abstractControl]="registerForm.controls.email"></app-form-control-message>
          </div>
          <button class="btn btn-block" [disabled]="registerForm.valid === false">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
</ng-template>
