<header class="header" [ngClass]="headerClass">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-auto">
        <div class="row align-items-center">
          <div class="col">
            <img
              src="assets/images/shared/logo-ciab-febraban-2020-white.svg"
              alt="CIAB FEBRABAN 2020"
              title="CIAB FEBRABAN 2020"
              class="logo"
              i18n-alt
              i18n-title
              (click)="redirectTo($event, '')">
          </div>
          <div class="col-auto text-right ciab-button-icon-nav-container">
            <button class="btn ciab-button-icon ciab-button-icon-nav" (click)="toggleNav()" #navButtonToggle></button>
          </div>
        </div>
      </div>
      <div class="col-xl-auto mt-3 mt-xl-0" [ngClass]="{ 'nav-hide' : navVisible === false }">
        <div class="row nav-mobile-overflow">
          <div class="col-xl-auto mb-3 mb-xl-0">
            <nav class="nav">
              <ul>
                <li class="nav-item" [ngClass]="{ 'active' : isRoute('/ciab') }" (click)="redirectTo($event, 'ciab')">
                  <ng-container i18n>O CIAB</ng-container>
                  <ul>
                    <li (click)="redirectTo($event, 'ciab', 'sobre-o-ciab')" i18n>Sobre o CIAB</li>
                    <li (click)="redirectTo($event, 'ciab', 'febraban')">FEBRABAN</li>
                  </ul>
                </li>
                <li class="nav-item" [ngClass]="{ 'active' : isRoute('/congresso') }" (click)="redirectTo($event, 'congresso')">
                  <ng-container i18n>Congresso</ng-container>
                  <ul>
                    <li (click)="redirectTo($event, 'congresso', 'inscricoes')" i18n>Inscrições</li>
                    <li (click)="redirectTo($event, 'congresso', 'o-congresso')" i18n>O congresso</li>
                    <li (click)="redirectTo($event, 'congresso', 'keynote-speakers')">Keynote Speakers</li>
                    <li (click)="redirectTo($event, 'congresso', 'programacao-palestrantes')" i18n>Programação</li>
                    <li (click)="redirectTo($event, 'congresso', 'programacao-palestrantes')" i18n>Palestrantes</li>
                  </ul>
                </li>
                <li class="nav-item" [ngClass]="{ 'active' : isRoute('/exposicao') }" (click)="redirectTo($event, 'exposicao')">
                  <ng-container i18n>Exposição</ng-container>
                  <ul>
                    <li (click)="redirectTo($event, 'exposicao', 'a-exposicao')" i18n>A exposição</li>
                    <li (click)="redirectTo($event, 'exposicao', 'mapa-e-expositores')" i18n>Mapa e expositores</li>
                    <li (click)="redirectTo($event, 'exposicao', 'quero-visitar')" i18n>Quero visitar</li>
                    <li (click)="redirectTo($event, 'patrocinar-expor')" i18n>Patrocinar/Expor</li>
                  </ul>
                </li>
                <li class="nav-item" [ngClass]="{ 'active' : isRoute('/fintech') }" (click)="redirectTo($event, 'fintech')">
                  Fintech
                  <ul>
                    <li (click)="redirectTo($event, 'fintech', 'fintech-lounge')" i18n>Fintech Lounge</li>
                    <li (click)="redirectTo($event, 'fintech', 'competicao')" i18n>Competição</li>
                    <li (click)="redirectTo($event, 'fintech', 'resultados')" i18n>Resultados</li>
                  </ul>
                </li>
                <li class="nav-item" [ngClass]="{ 'active' : isRoute('/informacoes') }" (click)="redirectTo($event, 'informacoes')">
                  <ng-container i18n>Informações</ng-container>
                  <ul>
                    <li (click)="redirectTo($event, 'informacoes', 'data-e-localizacao')" i18n>Data e localização</li>
                    <li (click)="redirectTo($event, 'informacoes', 'como-chegar')" i18n>Como chegar</li>
                    <li (click)="redirectTo($event, 'informacoes', 'visitantes-estrangeiros')" i18n>Visitantes estrangeiros</li>
                  </ul>
                </li>
                <li class="nav-item" [ngClass]="{ 'active' : isRoute('/publicacoes') }" (click)="redirectTo($event, 'publicacoes')">
                  <ng-container i18n>Publicações</ng-container>
                  <ul>
                    <li (click)="redirectTo($event, 'publicacoes', 'revista-ciab-febraban')" i18n>Revista CIAB FEBRABAN</li>
                    <li (click)="redirectTo($event, 'publicacoes', 'pesquisa-febraban')" i18n>Pesquisa FEBRABAN</li>
                    <li (click)="redirectTo($event, 'publicacoes', 'quero-anunciar')" i18n>Quero anunciar</li>
                  </ul>
                </li>
                <li class="nav-item" [ngClass]="{ 'active' : isRoute('/imprensa') }" (click)="redirectTo($event, 'imprensa')">
                  <ng-container i18n>Imprensa</ng-container>
                  <ul>
                    <li (click)="redirectTo($event, 'imprensa', 'assessoria-de-imprensa')" i18n>Assessoria de imprensa</li>
                    <li (click)="redirectTo($event, 'imprensa', 'noticias')" i18n>Notícias</li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-xl-auto mb-3 mb-xl-0">
            <a href="https://www.facebook.com/noomisoficial/" target="_blank" class="btn ciab-button-icon ciab-button-icon-facebook"></a>
            <a href="https://twitter.com/NOOMISOFICIAL/" target="_blank" class="btn ciab-button-icon ciab-button-icon-twitter"></a>
            <a href="https://www.linkedin.com/showcase/noomis-ciab-febraban/" target="_blank" class="btn ciab-button-icon ciab-button-icon-linkedin"></a>
          </div>
          <div class="col-xl-auto">
            <button class="btn btn-lang">EN</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
