<header class="header" [ngClass]="headerClass">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-auto">
        <div class="row align-items-center">
          <div class="col">
            <img
              src="./assets/images/logo-ciab-febraban-2020-white.svg"
              alt="CIAB FEBRABAN 2020"
              title="CIAB FEBRABAN 2020"
              class="logo">
          </div>
          <div class="col-auto text-right btn-icon-nav-container">
            <button class="btn btn-icon btn-icon-nav" (click)="toggleNav()" #navButtonToggle></button>
          </div>
        </div>
      </div>
      <div class="col-xl-auto mt-3 mt-xl-0" [ngClass]="{ 'nav-hide' : navVisible === false }">
        <div class="row">
          <div class="col-xl-auto mb-3 mb-xl-0">
            <nav class="nav">
              <ul>
                <li class="nav-item" routerLink="ciab" routerLinkActive="active">
                  CIAB
                  <ul>
                    <li routerLink="sobre-o-ciab">Sobre o CIAB</li>
                    <li routerLink="febraban">FEBRABAN</li>
                  </ul>
                </li>
                <li class="nav-item" routerLink="congresso" routerLinkActive="active">
                  Congresso
                </li>
                <li class="nav-item" routerLink="exposicao" routerLinkActive="active">
                  Exposição
                </li>
                <li class="nav-item" routerLink="fintech" routerLinkActive="active">
                  Fintech
                </li>
                <li class="nav-item" routerLink="informacoes" routerLinkActive="active">
                  Informações
                </li>
                <li class="nav-item" routerLink="publicacoes" routerLinkActive="active">
                  Publicações
                </li>
                <li class="nav-item" routerLink="imprensa" routerLinkActive="active">
                  Imprensa
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-xl-auto mb-3 mb-xl-0">
            <a href="https://www.facebook.com/noomisoficial/" target="_blank" class="btn btn-icon btn-icon-facebook"></a>
            <a href="https://twitter.com/NOOMISOFICIAL/" target="_blank" class="btn btn-icon btn-icon-twitter"></a>
            <a href="https://www.linkedin.com/showcase/noomis-ciab-febraban/" target="_blank" class="btn btn-icon btn-icon-linkedin"></a>
          </div>
          <div class="col-xl-auto">
            <button type="button" class="btn btn-lang">EN</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
