
.app-section-about
  background-image: url('./../../../../../assets/images/ciab/app-ciab-about-background-image.svg')
  background-repeat: no-repeat
  background-size: 456px 217px
  background-position: bottom left

.app-ciab-text-highlight
  font-size: 26px
  font-weight: 800
  color: #00A9CE

.app-section-numbers
  background-image: url('./../../../../../assets/images/ciab/app-ciab-numbers-background-image.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center

.app-section-numbers-number
  display: block
  font-size: 80px
  font-weight: 600
  line-height: 1

.app-section-numbers-description
  display: block
  font-size: 16px
  font-weight: 600

.app-section-gallery-subtitle
  font-size: 26px
  font-weight: 800

.app-section-febraban-description
  font-size: 26px
  font-weight: 800
