<app-page-header
  [backgroundImage]="'./../../../../assets/images/ciab/app-ciab-background-image.jpg'">
  <h1 class="mb-0">O CIAB FEBRABAN é o maior congresso de tecnologia da informação para o setor financeiro</h1>
</app-page-header>
<div id="sobre-o-ciab" class="app-section app-section-gray app-section-about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mb-3">
          Sobre o<br>
          CIAB FEBRABAN
        </h2>
      </div>
      <div class="col-md-6">
        <p class="app-ciab-text-highlight">Vem aí o maior evento de tecnologia do setor mais tecnológico do País.</p>
        <p>O CIAB FEBRABAN é o lugar para ficar por dentro dos assuntos mais importantes sobre tecnologias disruptivas, transformações digitais e o futuro do sistema financeiro.</p>
        <p class="mb-0">Anote na sua agenda! O <b>CIAB FEBRABAN 2020</b> acontecerá de <b>23 a 25 de junho</b> - Transamerica Expo Center, em São Paulo - 10h às 19h.</p>
      </div>
    </div>
  </div>
</div>
<div class="app-section app-section-numbers pb-0">
  <div class="app-section-numbers-background-color">
    <div class="app-section-numbers-background-image">
    </div>
  </div>
  <div class="container">
    <div class="app-section-numbers-row row">
      <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
        <p class="mb-0">
          <span class="app-section-numbers-number">3</span>
          <span class="app-section-numbers-description">Dias de congresso</span>
        </p>
      </div>
      <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
        <p class="mb-0">
          <span class="app-section-numbers-number">26.000</span>
          <span class="app-section-numbers-description">Visitantes em 2019</span>
        </p>
      </div>
      <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
        <p class="mb-0">
          <span class="app-section-numbers-number">290</span>
          <span class="app-section-numbers-description">Palestrantes</span>
        </p>
      </div>
      <div class="col-md-6 col-lg-3">
        <p class="mb-0">
          <span class="app-section-numbers-number">29</span>
          <span class="app-section-numbers-description">Edições de CIAB FEBRABAN</span>
        </p>
      </div>
    </div>
    <div class="app-section-box-white">
      <h2 class="mb-3">Ponto de encontro para fazer negócios, se atualizar e ampliar relacionamentos</h2>
      <div class="app-box-bar app-box-bar-blue"></div>
      <div class="row">
        <div class="col-md-6">
          <p>Desde a sua primeira edição em 1990, o CIAB FEBRABAN – incentiva o desenvolvimento da tecnologia e das transformações digitais, contribui para a evolução do setor e gera oportunidades de negócios para os participantes.</p>
          <p>Em 2019 o Congresso foi dividido em 10 trilhas sobre os grandes temas: Tendências Tecnológicas, Fintechs & Startups, Serviços de Tecnologia, Regulação, Meios de Pagamentos, Seguros, Futurismo, Segurança & Cybersecurity, Jornada do Cliente e Provedores de Soluções e Negócios.</p>
        </div>
        <div class="col-md-6">
          <p>A trajetória de sucesso do CIAB FEBRABAN é acompanhada por um público altamente qualificado, formado por executivos do setor financeiro das áreas de tecnologia, canais, pesquisa, inovação tecnológica, riscos, segurança da informação, meios de pagamento, serviços bancários, seguros, entre outros que frequentam os três dias do congresso e da exposição.</p>
          <p class="mb-0">Em 2019, o evento bateu recorde de público: foram 26.000 visitantes circulando pela exposição nos 3 dias de evento, um aumento de 12% em relação a 2018. O forúm de TI teve a presença de mais de 180 expositores, 94 painéis e 296 palestrantes.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="app-section app-section-gallery app-section-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mb-0">Galeria</h2>
        <p class="app-section-gallery-subtitle">O sucesso do evento em imagens</p>
      </div>
      <div class="col-md-6">
        <p>O CIAB FEBRABAN 2018 reuniu mais de 23 mil pessoas entre visitantes e congressistas. Veja algumas fotos e vídeos do evento.</p>
      </div>
    </div>
    <app-gallery
      [photoList]="photoList">
    </app-gallery>
  </div>
</div>
<div id="febraban" class="app-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="mb-3" src="./assets/images/ciab/app-ciab-febraban-logo.png" alt="FEBRABAN" title="FEBRABAN">
        <p class="app-section-febraban-description">A Federação Brasileira de Bancos – FEBRABAN é a principal entidade representativa do setor bancário.</p>
      </div>
      <div class="col-md-6">
        <p class="mb-0">A FEBRABAN foi fundada em 1967 visando o fortalecimento do sistema financeiro e de suas relações com a sociedade. Reúne 121 instituições financeiras associadas de um universo de 172 instituições em operação no Brasil, as quais representam 97% dos ativos totais e 93% do patrimônio líquido do sistema bancário brasileiro. Entre os objetivos estratégicos da Federação estão o desenvolvimento de iniciativas para a contínua melhoria da produtividade do sistema bancário e a redução dos seus níveis de risco, contribuindo dessa forma para o desenvolvimento econômico, social e sustentável do País.</p>
      </div>
    </div>
    <div class="text-center mt-5">
      <app-sponsors>
      </app-sponsors>
    </div>
  </div>
</div>
