<app-page-header>
  <h1 i18n>Quer patrocinar ou expor?</h1>
</app-page-header>
<div class="ciab-section ciab-section-disclose">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p class="ciab-text-highlight" i18n>Divulgue a marca da sua empresa para os líderes de tecnologia do setor financeiro</p>
        <p i18n>Sua empresa não pode ficar de fora! Conheça as vantagens de ser um patrocinador:</p>
        <div class="row">
          <div class="col-lg-6">
            <p class="ciab-text-icon-bank" i18n>Participação dos principais Bancos Brasileiros e Internacionais, Seguradoras e Empresas de Meios de Pagamento.</p>
          </div>
          <div class="col-lg-6">
            <p class="ciab-text-icon-network" i18n>Exposição de marca para os principais Executivos do Setor Financeiro.</p>
            <p class="ciab-text-icon-people" i18n>Em 2019, o CIAB FEBRABAN recebeu mais de 26 mil pessoas.</p>
            <p class="ciab-text-icon-qualified" i18n>Público altamente qualificado.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="ciab-box ciab-box-gray">
          <div class="ciab-bar ciab-bar-green"></div>
          <p i18n>Para conhecer as oportunidades e garantir lugar no maior evento de TI para o setor financeiro, preencha o formulário abaixo e entre em contato com os nossos profissionais.</p>
          <app-sponsor-exhibit-form>
          </app-sponsor-exhibit-form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ciab-section pt-0">
  <div class="container text-center">
    <app-sponsors>
    </app-sponsors>
  </div>
</div>
