<app-page-header
  [backgroundImage]="'./../../../../assets/images/press/app-press-page-header-background-image.jpg'">
  <h1 class="mb-0">Quer patrocinar ou expor?</h1>
</app-page-header>
<div class="ciab-section ciab-section-disclose pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p class="ciab-text-highlight">Divulgue a marca da sua Empresa para os líderes de tecnologia do setor Financeiro.</p>
        <p>Sua empresa não pode ficar de fora! Conheça as vantagens de ser um patrocinador:</p>
        <div class="row">
          <div class="col-lg-6">
            <p class="ciab-text-icon-bank">Participação dos principais Bancos Brasileiros e Internacionais, Seguradoras e Empresas de Meios de Pagamento.</p>
          </div>
          <div class="col-lg-6">
            <p class="ciab-text-icon-network">Exposição de marca para os principais Executivos do Setor Financeiro.</p>
            <p class="ciab-text-icon-people">Em 2019, o CIAB FEBRABAN recebeu mais de 26 mil pessoas.</p>
            <p class="ciab-text-icon-qualified">Público altamente qualificado.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="ciab-box ciab-box-gray">
          <div class="ciab-bar ciab-bar-green"></div>
          <p>Para conhecer as oportunidades e garantir lugar no maior evento de TI para o setor financeiro, preencha o formulário abaixo e entre em contato com os nossos profissionais.</p>
          <app-sponsor-exhibit-form>
          </app-sponsor-exhibit-form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ciab-section">
  <div class="container text-center">
    <app-sponsors>
    </app-sponsors>
  </div>
</div>
