<app-page-header>
  <h1 class="mb-0">Maior evento de TI para o setor financeiro da América Latina</h1>
</app-page-header>
<div id="congresso" class="app-section app-section-congress">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mb-3">Congresso</h2>
      </div>
      <div class="col-md-6">
        <p class="app-ciab-text-highlight">Maior evento de TI para o setor financeiro da América Latina.</p>
        <p>Um fórum de tecnologia, com um conteúdo diversificado, palestrantes nacionais e internacionais, debates relevantes sobre inovações tecnológicas, transformações digitais e o futuro do sistema financeiro.</p>
        <p>Em sua 29ª edição, o tema norteou 10 trilhas sobre os grandes temas: Tendências Tecnológicas, Fintechs & Startups, Serviços de Tecnologia, Regulação, Meios de Pagamentos, Seguros, Futurismo, Segurança & Cybersecurity, Jornada do Cliente e Provedores de Soluções e Negócios.</p>
        <p>Oportunidade única de ficar frente a frente com os mais renomados especialistas de tecnologia e do setor financeiro!</p>
        <p>Em 2020 o evento completará 30 anos e sem dúvidas será mais uma edição histórica.</p>
        <button type="button" class="app-button app-button-blue">Increva-se</button>
      </div>
    </div>
  </div>
</div>
<div class="app-section app-section-gray">
  <div class="container">
    <app-keynote-speakers>
    </app-keynote-speakers>
  </div>
</div>
<div class="app-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-3 mb-lg-0">
        <div class="app-banner app-banner-schedule">
          <span class="app-banner-text mb-2">Confira nossa</span>
          <span class="app-banner-text app-banner-text-bigger">programação</span>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="app-banner app-banner-speakers">
          <span class="app-banner-text mb-2">Conheça os palestrantes</span>
          <span class="app-banner-text app-banner-text-bigger">palestrantes</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="app-section app-section-technical-trails pb-0">
  <div class="app-section-technical-trails-background-color">
    <div class="app-section-technical-trails-background-image">
    </div>
  </div>
  <div class="container">
    <div class="app-section-box-white">
      <h2 class="text-center mb-3">Trilhas técnicas</h2>
      <div class="row">
        <div class="col-lg-6">
          <h3 class="app-section-box-white-title">Tendências tecnológicas</h3>
          <p>Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. Vestibulum sed metus in lorem tristique ullamcorper id vitae erat. </p>
        </div>
        <div class="col-lg-6">
          <h3 class="app-section-box-white-title">Fintechs & Startups</h3>
          <p>Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. Vestibulum sed metus in lorem tristique ullamcorper id vitae erat. </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h3 class="app-section-box-white-title">Serviços de tecnologia</h3>
          <p>Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. Vestibulum sed metus in lorem tristique ullamcorper id vitae erat. </p>
        </div>
        <div class="col-lg-6">
          <h3 class="app-section-box-white-title">Regulação, meios de pagamentos</h3>
          <p>Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. Vestibulum sed metus in lorem tristique ullamcorper id vitae erat. </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h3 class="app-section-box-white-title">Seguros, futurismo</h3>
          <p class="mb-lg-0">Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. Vestibulum sed metus in lorem tristique ullamcorper id vitae erat. </p>
        </div>
        <div class="col-lg-6">
          <h3 class="app-section-box-white-title">Segurança & Cybersecurity</h3>
          <p class="mb-0">Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. Vestibulum sed metus in lorem tristique ullamcorper id vitae erat. </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-sponsors>
</app-sponsors>
