<app-page-header>
  <h1 class="mb-0" i18n>Maior evento de TI para o setor financeiro da América Latina</h1>
</app-page-header>
<div id="o-congresso" class="ciab-section ciab-section-congress">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mb-3" i18n>O congresso</h2>
      </div>
      <div class="col-md-6">
        <p class="ciab-text-color-blue-dark ciab-text-highlight" i18n>Maior evento de TI para o setor financeiro da América Latina</p>
        <p i18n>Um fórum de tecnologia, com um conteúdo diversificado, palestrantes nacionais e internacionais, debates relevantes sobre inovações tecnológicas, transformações digitais e o futuro do sistema financeiro.</p>
        <p i18n>Em sua 29ª edição, o tema norteou 10 trilhas sobre os grandes temas: Tendências Tecnológicas, Fintechs & Startups, Serviços de Tecnologia, Regulação, Meios de Pagamentos, Seguros, Futurismo, Segurança & Cybersecurity, Jornada do Cliente e Provedores de Soluções e Negócios.</p>
        <p i18n>Oportunidade única de ficar frente a frente com os mais renomados especialistas de tecnologia e do setor financeiro!</p>
        <p i18n>Em 2020 o evento completará 30 anos e sem dúvidas será mais uma edição histórica.</p>
        <button class="ciab-button ciab-button-blue" i18n>Inscreva-se</button>
      </div>
    </div>
  </div>
</div>
<div id="keynote-speakers" class="ciab-section ciab-section-gray">
  <div class="container">
    <h2 class="text-center mb-3 mb-lg-5" i18n>Keynote speakers</h2>
    <div class="row">
      <div class="col-md-4 mb-3" *ngFor="let item of keynoteSpeakerList">
        <app-keynote-speaker
          [item]="item">
        </app-keynote-speaker>
      </div>
    </div>
    <div class="text-center">
      <button class="ciab-button ciab-button-blue" (click)="redirectTo('keynote-speakers')" i18n>Ver todos os keynote speakers</button>
    </div>
  </div>
</div>
<div id="programacao-palestrantes" class="ciab-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-3 mb-lg-0">
        <button class="app-banner app-banner-schedule">
          <span class="app-banner-text mb-2" i18n>Confira nossa</span>
          <span class="app-banner-text app-banner-text-bigger" i18n>programação</span>
        </button>
      </div>
      <div class="col-lg-6">
        <button class="app-banner app-banner-speakers" (click)="redirectTo('keynote-speakers')">
          <span class="app-banner-text mb-2" i18n>Conheça os</span>
          <span class="app-banner-text app-banner-text-bigger" i18n>palestrantes</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="ciab-section ciab-section-technical-trails pb-0">
  <div class="ciab-section-technical-trails-background-color">
    <div class="ciab-section-technical-trails-background-image">
    </div>
  </div>
  <div class="container">
    <div class="ciab-section-box-white">
      <h2 class="text-center mb-3" i18n>Trilhas técnicas</h2>
      <div class="row">
        <div class="col-lg-6">
          <h3 class="ciab-section-box-white-title" i18n>Tendências tecnológicas</h3>
          <p>Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. Vestibulum sed metus in lorem tristique ullamcorper id vitae erat. </p>
        </div>
        <div class="col-lg-6">
          <h3 class="ciab-section-box-white-title">Fintechs & Startups</h3>
          <p>Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. Vestibulum sed metus in lorem tristique ullamcorper id vitae erat. </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h3 class="ciab-section-box-white-title" i18n>Serviços de tecnologia</h3>
          <p>Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. Vestibulum sed metus in lorem tristique ullamcorper id vitae erat. </p>
        </div>
        <div class="col-lg-6">
          <h3 class="ciab-section-box-white-title" i18n>Regulação e meios de pagamentos</h3>
          <p>Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. Vestibulum sed metus in lorem tristique ullamcorper id vitae erat. </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h3 class="ciab-section-box-white-title" i18n>Seguros e futurismo</h3>
          <p class="mb-lg-0">Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. Vestibulum sed metus in lorem tristique ullamcorper id vitae erat. </p>
        </div>
        <div class="col-lg-6">
          <h3 class="ciab-section-box-white-title" i18n>Segurança & Cybersecurity</h3>
          <p class="mb-0">Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. Vestibulum sed metus in lorem tristique ullamcorper id vitae erat. </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ciab-section">
  <div class="container">
    <app-banner-sponsor-exhibit>
    </app-banner-sponsor-exhibit>
    <div class="text-center mt-3 mt-lg-5">
      <app-sponsors>
      </app-sponsors>
    </div>
  </div>
</div>
