<!-- Falta os itálicos e underlines, depois traduzir para o inglês -->
<div class="ciab-button-modal-close-container">
  <button class="ciab-button-modal-close" (click)="ngbActiveModal.close()"></button>
</div>
<div class="modal-body ciab-regulation-modal-body">
  <h4 class="text-center">CONCURSO EXCLUSIVAMENTE CULTURAL</h4>
  <h4 class="text-center">REGULAMENTO – CAMPEONATO DE PITCHES DO CIAB FINTECH LOUNGE 2020</h4>
  <p class="font-weight-bold text-center">5º edição - 2020</p>
  <p>Com o intuito de incentivar negócios, parcerias e projetos desenvolvidos pelas Fintechs e Startups em geral, além de promover iniciativas relacionadas a inovação na área da tecnologia, a <b>FEDERAÇÃO BRASILEIRA DE BANCOS</b>, com sede na Avenida Brigadeiro Faria Lima, nº 1.485, 15º andar, Torre Norte, Jardim Paulistano, São Paulo/SP, CEP 01452-002, inscrita no CNPJ/MF sob o nº 00.068.353/0001-23, doravante denominada “FEBRABAN”, promoverá a Concurso Cultural denominado Campeonato de Pitches do <b>CIAB Fintech Lounge 2020</b> (simplesmente “Concurso”) e convida os interessados a apresentarem as propostas nos termos em conformidade ao presente <b>REGULAMENTO</b>.</p>
  <p class="font-weight-bold">1 – OBJETIVO</p>
  <p><b>1.1.</b> O presente Concurso tem por objetivo selecionar propostas de desenvolvimento de soluções em tecnologia aplicáveis ao mercado financeiro, para serem apresentadas pelas Fintechs e demais Startups no evento denominado Campeonato de Pitches do <b>CIAB Fintech Lounge 2020</b>, que será realizado nos dias <b>23 a 25 de junho de 2020</b>, no Transamérica Expo Center em São Paulo/SP.</p>
  <p><b>1.2.</b> É objetivo do concurso: incentivar o desenvolvimento de negócios entre Instituições Financeiras e empresas emergentes, doravante determinadas “Fintechs e Startups”.</p>
  <p><b>1.3.</b> Este incentivo será realizado por meio da oportunidade de apresentação dos melhores projetos de autoria dos participantes do Concurso, que serão selecionados pelo grupo de trabalho (GT) da FEBRABAN: GT Júri.</p>
  <p><b>1.4.</b> Este Concurso tem caráter exclusivamente cultural, não estando sujeito, de forma alguma, a qualquer espécie de álea ou sorte, nos termos do artigo 3º, inciso II, da Lei n.º 5.768/71, bem como do artigo 30 do Decreto nº. 70.951/72.</p>
  <p><b>1.5.</b> A participação no Concurso é voluntária, e será oferecida a todas as Fintechs e Startups que adquirirem um balcão de exposição no CIAB Fintech Lounge 2020.</p>
  <p class="font-weight-bold">1.6. A PARTICIPAÇÃO NESTE CONCURSO SUJEITA TODOS OS PARTICIPANTES INSCRITOS AO CUMPRIMENTO DAS REGRAS E CONDIÇÕES ESTABELECIDAS NESTE REGULAMENTO. DESTA FORMA, O PARTICIPANTE, NO ATO DE SUA INSCRIÇÃO, ADERE A TODAS AS DISPOSIÇÕES, DECLARANDO QUE LEU, COMPREENDEU, TEM TOTAL CIÊNCIA E ACEITA, IRRESTRITA E TOTALMENTE, TODOS OS ITENS DESTE REGULAMENTO.</p>
  <p><b>1.7.</b> As propostas devem observar as condições específicas estabelecidas no <b>REGULAMENTO</b>.</p>
  <p><b>1.8.</b> O projeto deverá ser um trabalho resultado da criação intelectual do participante ou da equipe executora pertencente à Fintech ou à Startup, hipótese em que o participante deve comprovar o seu vínculo com a mesma, não sendo aceito cópia (total ou parcial) de projetos que firam direitos autorais e patrimoniais de terceiros, sob pena de desclassificação imediata do participante. Qualquer projeto de conteúdo impróprio, assim como aquele em desconformidade com o item 1.9 abaixo, será automaticamente desclassificado do Concurso pela FEBRABAN.</p>
  <p><b>1.9.</b> Não é permitido o envio de projetos contendo palavras de baixo calão ou ofensivas à moral e aos bons costumes, ou ainda que façam menção, direta ou indireta, sobre a FEBRABAN, bem como aos seus associados, hipótese em que o autor do projeto será automaticamente desclassificado do Concurso pela FEBRABAN.</p>
  <p><b>1.9.1.</b> Da mesma forma, serão automaticamente desclassificadas os projetos que contenham conteúdo ilegal, nocivo, doloso, ameaçador, ofensivo, calunioso, difamatório, desrespeitoso, infundado, discriminatório, criminoso e/ou que deixem de atender critérios de veracidade e autenticidade; que sejam produtos ou oriundos de quaisquer tipos de fraudes; trabalho que assedie ou invada a privacidade alheia, seja vulgar, profano, sexualmente explícito, obsceno, racial ou etnicamente discriminatório, ou, de qualquer outra forma, inaceitável por causar riscos ou danos de imagem, materiais ou morais à FEBRABAN e seus associados, seus empregados, qualquer um dos seus colaboradores ou terceiros.</p>
  <p><b>1.9.2.</b> Da mesma forma, o projeto que sugerir ou encorajar atividade ilegal, assim como, a divulgação de informações que não possam ser transmitidas por motivos legais ou contratuais, serão imediatamente desclassificados.</p>
  <p class="font-weight-bold">2 – QUEM PODE PARTICIPAR</p>
  <p><b>2.1.</b> Este concurso é válido em território nacional. São elegíveis a participar do Concurso as Fintechs e Startups, com sede no Brasil ou outros países, que desenvolvam projetos inovadores ligados à tecnologia e ao setor financeiro, com potencial de crescimento e escalabilidade e que tenham adquirido um balcão de exposição no CIAB Fintech Lounge 2020.</p>
  <p><b>2.2.</b> Ficam impedidos de participar deste Concurso Cultural, além daqueles que não se enquadrarem nos requisitos acima, todos os empregados da FEBRABAN, as pessoas diretamente envolvidas neste Concurso, incluindo os componentes dos GT Júri, bem como seus cônjuges e parentes em até segundo grau, sob pena de desclassificação.</p>
  <p class="font-weight-bold">3 - APRESENTAÇÕES E ENVIO DAS PROPOSTAS</p>
  <p><b>3.1.</b> Após firmar o contrato de exposição com a Febraban, a proposta do participante deve ser enviada acompanhada de arquivo contendo o escopo do projeto, com no máximo 8 (oito) páginas e devem ser encaminhadas à FEBRABAN exclusivamente via Internet, mediante o preenchimento completo do Formulário de Proposta online, disponível em endereço eletrônico www.ciab.org.br.</p>
  <p><b>3.1.1.</b> A FEBRABAN é a única organizadora do “CIAB FEBRABAN 2020”, evento em que este Concurso será realizado. Após a finalização do concurso, a FEBRABAN não divulgará as Propostas e os demais documentos recebidos pelos participantes, bem como não utilizará para qualquer outra finalidade que não esteja ligada com a realização do concurso.</p>
  <p><b>3.2.</b> Todo o processo de inscrição será realizado exclusivamente de forma on-line e somente serão aceitas e válidas as inscrições que se realizarem de tal forma e dentro do prazo estipulado neste regulamento.</p>
  <p><b>3.2.1.</b> No ato da inscrição</p>
  <p>No ato de inscrição a Fintech/Startup deverá informar os seguintes dados:</p>
  <ul>
    <li>razão social completa;</li>
    <li>número de registro local (CNPJ no Brasil ou Tax ID em outros países);</li>
    <li>site (se houver);</li>
    <li>dados do responsável pela empresa: nome, endereço, e-mail e telefone;</li>
  </ul>
  <p><b>3.3.</b> O prazo para aquisição do balcão de exposição no Fintech Lounge vai de 11/10/2019 a 01/06/2020 e o prazo para envio do projeto para a seleção do Campeonato de Pitches vai de 03/02/2020 (0:00 horário de Brasília) a 10/06/2020 (23:59 horário de Brasília).</p>
  <p><b>3.4.</b> Após o envio da proposta, o Proponente receberá o e-mail de confirmação que servirá como comprovação de envio do projeto.</p>
  <p><b>3.5.</b> O arquivo contendo o projeto deve ser gerado fora do Formulário de Propostas online e anexado a este, <b>exclusivamente no formato “pdf”</b>, limitando-se a 10Mb (dez megabytes) e com no máximo 8 (oito) páginas.</p>
  <p><b>3.6.</b> Não serão aceitas propostas submetidas por qualquer outro meio, tampouco após o prazo final de recebimento estabelecido no subitem 3.3 acima. Assim, <b>recomenda-se o envio das propostas com antecedência ao prazo final de submissão. A FEBRABAN NÃO SE RESPONSABILIZARÁ POR PROPOSTAS NÃO RECEBIDAS EM DECORRÊNCIA DE EVENTUAIS PROBLEMAS TÉCNICOS RELATIVOS A INCOMPATIBILIDADE DE APLICAÇÃO, BEM COMO A ACESSO, A TRANSMISSÃO OU PROCESSAMENTO DE QUALQUER ORDEM, SEJAM ESTES EXTERNOS OU INTERNOS À FEBRABAN</b>.</p>
  <p><b>3.7.</b> Será aceita uma única proposta por participante ou por empresa.</p>
  <p><b>3.8.</b> Na hipótese de envio de uma segunda proposta pelo mesmo participante e que realizem a inscrição dentro do período informado, respeitando-se o prazo limite estipulado para submissão das propostas, esta será considerada substituta da anterior, sendo levada em conta para análise apenas a última proposta recebida.</p>
  <p><b>3.9.</b> O projeto deve estar claramente caracterizado como de pesquisa e desenvolvimento tecnológico para fins de inovação, aplicado ao sistema financeiro.</p>
  <p><b>3.10</b>. Exige-se, sob pena de desclassificação da proposta, que este projeto apresente exatamente as informações contidas no <b>FORMULÁRIO DE INSCRIÇÃO</b>, na ordem nele apresentada, de forma a permitir sua adequada análise por parte das Comissões.</p>
  <p><b>3.11</b>. O preenchimento e envio do <b>FORMULÁRIO DE INSCRIÇÃO</b> deve ser feito exclusivamente pelo site supramencionado.</p>
  <p class="font-weight-bold">4 – ADMISSÕES, ANÁLISE E JULGAMENTO DOS PROJETOS</p>
  <p><b>4.1.</b> A seleção das propostas submetidas à FEBRABAN será realizada por intermédio de avaliações pelo GT Júri, cujos membros serão convidados a exclusivo critério da FEBRABAN.</p>
  <p><b>4.2.</b> O GT Júri terá por responsabilidade a avaliação da ficha de inscrição e dos documentos enviados, a avaliação dos resumos e projetos inscritos e selecionará, a seu único e exclusivo critério, os 10 (dez) melhores projetos que participarão do Campeonato de Pitches do CIAB Fintech Lounge 2020 conforme o quadro abaixo:</p>
  <table>
    <thead>
      <tr>
        <th>Categoria</th>
        <th>Quantidade</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Early Stage</th>
        <td>5</td>
      </tr>
      <tr>
        <th>Tração</th>
        <td>5</td>
      </tr>
    </tbody>
  </table>
  <p><b>4.3.</b> As dez Fintechs finalistas participarão do Campeonato de Pitches no dia 25/06/2019. A Comissão Julgadora terá por responsabilidade selecionar os 5 (cinco) projetos vencedores, dentre os 10 projetos finalistas conforme critérios de avaliação descritos na cláusula 4.7 deste regulamento.</p>
  <p><b>4.4.</b> Todos os processos de avaliação e seleção dos finalistas e vencedores são de total e exclusiva responsabilidade do GT Júri, cujos membros serão convidados a exclusivo critério da FEBRABAN.</p>
  <p><b>4.5.</b> Na eventualidade de empate entre projetos, a decisão de desempate será exclusiva do GT Júri, sendo esta decisão soberana e irrecorrível.</p>
  <p><b>4.6.</b> Todas as decisões do GT Júri são soberanas, não cabendo, em qualquer etapa do Concurso, seja durante a avaliação, seja na efetiva premiação, recursos ou impugnações por partes dos participantes.</p>
  <p><b>4.7.</b> Critérios de avaliação dos projetos:</p>
  <p class="font-weight-bold">1. Experiência do Cliente:</p>
  <ul>
    <li>Qual necessidade do cliente é atendida?</li>
    <li>Como o projeto oferece uma grande experiência ao cliente?</li>
  </ul>
  <p class="font-weight-bold">Audácia:</p>
  <ul>
    <li>A Tecnologia oferece soluções para grandes problemas?</li>
    <li>Qual tipo de problema ou área de oportunidade a tecnologia alcança?</li>
  </ul>
  <p class="font-weight-bold">Inovação e Simplicidade:</p>
  <ul>
    <li>A Tecnologia é inovadora?</li>
    <li>A Tecnologia simplifica um processo complexo?</li>
  </ul>
  <p class="font-weight-bold">Escalabilidade:</p>
  <ul>
    <li>O projeto tem possibilidade de crescimento/futuro?</li>
    <li>Qual o prazo esperado de retorno?</li>
  </ul>
  <p class="font-weight-bold">5. Sinergia com as Instituições Financeiras</p>
  <ul>
    <li>A solução pode ser utilizada por Bancos e Instituições Financeiras?</li>
    <li>A solução agrega valor à produtos e serviços oferecidos pelas Instituições Financeiras?</li>
  </ul>
  <p class="font-weight-bold">5 – RESULTADOS DO JULGAMENTO DOS PROJETOS ESCOLHIDOS</p>
  <p><b>5.1.</b> A relação dos 10 (dez) projetos finalistas selecionados para participar do Campeonato de Pitches serão divulgados no dia 24/06/2020 durante a realização do CIAB.</p>
  <p class="font-weight-bold">6 – APOIOS AOS PROJETOS</p>
  <p><b>6.1.</b> Os dez projetos finalistas participarão do Campeonato de Pitches no dia 25/06/2020 e farão uma apresentação de 5 minutos com 2 minutos de perguntas e respostas para o Júri.</p>
  <p><b>6.2.1.</b> Os 3 (três) melhores projetos da categoria Tração e os dois melhores projetos da categoria Early Stage, avaliados pelo GT Júri no dia do evento, serão premiadas conforme os termos do item 8 deste regulamento.</p>
  <p class="font-weight-bold">– CRONOGRAMA</p>
  <ul>
    <li>
      O Concurso Cultural terá o seguinte cronograma:
      <ul>
        <li>Início das vendas dos balcões de exposição do CIAB Fintech lounge 2020 em 11/10/2020</li>
        <li>Data final para envio das propostas para participar da seleção do Campeonato de pitches: 10/6/2020</li>
        <li>Data de Divulgação dos projetos finalistas: 24/6/2020 dentro do CIAB Fintech lounge;</li>
        <li>Realização do <b>CIAB Fintech Lounge 2020</b>: 23 a 25 de junho de 2020;</li>
        <li>Apresentações no Campeonato de Pitches: 25/06/2020.</li>
      </ul>
    </li>
  </ul>
  <p class="font-weight-bold">8 - O EVENTO “CIAB FINTECH LOUNGE 2019”</p>
  <p><b>8.1.</b> Os 10 (dez) projetos finalistas serão apresentados pelo participante ou pelo representante da empresa durante a realização do <b>“Campeonato de Pitches”</b> para o GT Júri.</p>
  <p><b>8.2.</b> Os 10 projetos finalistas terão o tempo máximo de 5 (cinco) minutos para serem apresentados e mais 02 (dois) minutos para perguntas e respostas. As perguntas serão feitas exclusivamente pelos membros do GT Júri.</p>
  <p><b>8.3.</b> Os seguintes prêmios serão distribuídos para os 3 (três) vencedores da categoria Tração e para os 2 (dois) vencedores da categoria Early Stage:</p>
  <table>
    <thead>
      <tr>
        <th>Categoria</th>
        <th>Prêmio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Early Stage</th>
        <td>Troféu CIAB Fintech Lounge 2020 + três Reuniões Executivas com lideranças de Bancos;</td>
      </tr>
      <tr>
        <th>Tração</th>
        <td>Troféu CIAB Fintech Lounge 2020 + três Reuniões Executivas com lideranças de Bancos;</td>
      </tr>
    </tbody>
  </table>
  <p><b>8.4.</b> Outros prêmios poderão ser acrescidos aos listados no item 8.3. A relação completa de prêmios será divulgada até 31.03.2020.</p>
  <p class="font-weight-bold">9. – QUANTO AO PARTICIPANTE E A EQUIPE DE APOIO:</p>
  <p><b>9.1.</b> O participante, responsável pela apresentação do projeto junto à FEBRABAN, deve atender, obrigatoriamente, aos itens abaixo:</p>
  <p><b>a)</b> Ser obrigatoriamente o autor inscrito ou empregado da empresa proprietária do projeto;</p>
  <p><b>b)</b> Ter vínculo formal comprovado com a empresa que desenvolveu o projeto, a empresa Fintech ou Startup. Vínculo formal é entendido como toda e qualquer forma de relação explícita e de fácil comprovação que exista entre o participante, pessoa física e a empresa Fintech/Startup.</p>
  <p class="font-weight-bold">10 – ESCLARECIMENTOS E INFORMAÇÕES ADICIONAIS ACERCA DO CONTEÚDO DO REGULAMENTO E PREENCHIMENTO DO FORMULÁRIO DE INSCRIÇÃO</p>
  <p><b>10.1.</b> Esclarecimentos e informações adicionais acerca do conteúdo deste Regulamento podem ser obtidos encaminhando mensagem para o endereço: <a href="mailto:fintechlounge@febraban.org.br">fintechlounge@febraban.org.br</a></p>
  <p><b>10.2.</b> O atendimento a proponentes com dificuldades técnicas no preenchimento do Formulário de Inscrição será feito pelo endereço eletrônico <a href="mailto:fintechlounge@febraban.org.br">fintechlounge@febraban.org.br</a></p>
  <p class="font-weight-bold">11- CANCELAMENTO DO CONCURSO E HIPÓTESES DE DESCLASSIFICAÇÃO</p>
  <p><b>11.1.</b> O concurso poderá ser cancelado pela FEBRABAN, por ocorrência de fato cuja gravidade justifique o cancelamento, sem prejuízo de outras providências cabíveis em decisão devidamente fundamentada, mediante comunicação prévia pelos mesmos meios de divulgação do concurso, sem que isso implique direito a indenização ou reclamação de qualquer natureza dos participantes.</p>
  <p><b>11.2.</b> Além das hipóteses de desclassificação contidas nos itens 1.8 e 1.9 e subitens deste Regulamento, serão consideradas nulas e ficarão imediatamente desclassificadas e impedidas de concorrer aos prêmios, as inscrições em que se verificar tentativa de fraude às inscrições, ou ainda da utilização de qualquer meio eletrônico, informático, digital, robótico, repetitivo, automático, mecânico e/ou análogo com intuito deliberado de reprodução automática e/ou repetitiva de inscrições, idênticas ou não, importando na nulidade, também, de todas as inscrições efetuadas pelo participante que tenha se utilizado de um dos referidos meios ou com um dos referidos fins, ainda que nem todas as inscrições tenham resultado do uso de tais meios e/ou sido realizadas com tal finalidade.</p>
  <p><b>11.3.</b> Igualmente, serão automaticamente excluídos os participantes que tentarem burlar este Regulamento ou fornecerem qualquer tipo de informação inverídica, plágio de propostas e projetos, identificadas no ato da inscrição ou no decurso do Concurso, sendo os inscritos responsabilizados pelo ato no âmbito da esfera civil e criminal.</p>
  <p class="font-weight-bold">12 - PERMISSÕES E AUTORIZAÇÕES ESPECIAIS</p>
  <p><b>12.1.</b> É de exclusiva responsabilidade de cada participante adotar todas as providências que envolvam permissões e autorizações especiais, de caráter ético ou legal, necessárias para a execução e apresentação do projeto.</p>
  <p class="font-weight-bold">13 - SIGILO E CONFIDENCIALIDADE DAS INFORMAÇÕES</p>
  <p><b>13.1.</b> Todos os dados fornecidos pelos participantes no ato de inscrição ficarão armazenados pela FEBRABAN que se compromete a utilizar as referidas informações somente para os fins definidos neste Regulamento. Fica facultado a FEBRABAN e a Comissão Julgadora conferir a autenticidade e veracidade de todas as informações cedidas pelos participantes.</p>
  <p><b>13.2.</b> Caso as informações fornecidas pelos participantes mostrem-se, a qualquer tempo, inverídicas, seja através da devida verificação pela FEBRABAN ou pela Comissão Julgadora, ou ainda, por outro meio de verificação, os participantes serão automaticamente desclassificados.</p>
  <p class="font-weight-bold">14. PROPRIEDADE INTELECTUAL</p>
  <p><b>14.1.</b> O participante garante, desde já, que é autor do projeto apresentado, e que o mesmo não infringe quaisquer direitos autorais de terceiros, bem como que possui todas as autorizações para divulgação do projeto inscrito, sob pena de responder civil e criminalmente pelos prejuízos e/ou danos materiais e/ou morais que eventualmente venham a ser causados a FEBRABAN e/ou terceiro lesado.</p>
  <p><b>14.2.</b> Sem prejuízo do disposto no item 12.1 acima, os participantes do Concurso Cultural, incluindo finalistas e vencedores, neste ato, assumem total e exclusiva responsabilidade pelo projeto que enviar, por sua titularidade e originalidade, incluindo, sem limitação, responsabilidade por eventuais violações à intimidade, privacidade, honra e imagem de qualquer pessoa, a deveres de segredo, à propriedade industrial, direito autoral e/ ou a respeito de todas e quaisquer eventuais reivindicações de terceiros que se sintam prejudicados, eximindo a FEBRABAN de qualquer responsabilidade relativamente a tais fatos, aspectos, direitos e/ou situações.</p>
  <p class="font-weight-bold">15. USO DO NOME, IMAGEM E SOM DE VOZ DOS PARTICIPANTES</p>
  <p><b>15.1.</b> Ao participar do Concurso, o participante autoriza a utilização, de modo gratuito, definitivo e irrevogável, de seu nome e imagem, em qualquer meio/ veículo escolhido pela FEBRABAN, para divulgação deste Concurso, dos prêmios recebidos, ou de outras ações similares relacionadas a este Concurso, por período indeterminado, sem restrição de frequência, sem que isso lhe implique qualquer tipo de ônus.</p>
  <p><b>15.2.</b> As autorizações descritas se darão de forma gratuita e não implicam em qualquer obrigação de divulgação ou de pagamento de qualquer quantia por parte da FEBRABAN.</p>
  <p class="font-weight-bold">16 - DAS DISPOSIÇÕES GERAIS</p>
  <p><b>16.1.</b> Durante a fase de execução do concurso cultural, toda e qualquer comunicação com a FEBRABAN deverá ser feita somente pelo coordenador do projeto, por meio de correspondência eletrônica e-mail <a href="mailto:fintechlounge@febraban.org.br">FINTECHLOUNGE@FEBRABAN.ORG.BR</a>.</p>
  <p><b>16.2.</b> Qualquer alteração relativa à apresentação do projeto deverá ser solicitada à FEBRABAN por seu coordenador, acompanhada da devida justificativa, devendo tal alteração ser autorizada antes da data da apresentação.</p>
  <p><b>16.3.</b> A FEBRABAN reserva-se o direito de, durante a execução do projeto, promover visitas técnicas ou solicitar informações adicionais visando aperfeiçoar o Sistema de Avaliação e Acompanhamento.</p>
  <p><b>16.4.</b> A FEBRABAN não será responsável por problemas, falhas ou mal funcionamento técnico de qualquer tipo, em redes de computadores, servidores ou provedores, equipamentos de computadores, hardware ou software, nem por erro, interrupção, defeito, atraso ou falha em operações ou transmissões para o correto processamento de inscrições, incluindo, mas não se limitando, a transmissão imprecisa de inscrições ou a falha da FEBRABAN em recebê-las, em razão de problemas técnicos, congestionamento na internet ou no site ligado ao Concurso, vírus, queda de energia, falha de programação (bugs) ou violação por terceiros (hackers).</p>
  <p><b>16.5.</b> Este Regulamento será disponibilizado publicamente em português e inglês. Caso haja divergências entre os termos, a versão em português prevalecerá sobre os demais.</p>
  <p>Fica eleito o FORO DA COMARCA DESTA CAPITAL DO ESTADO DE SÃO PAULO, com exclusão de qualquer outro por mais privilegiado que seja para dirimir ou interpretar todas as presentes condições.</p>
  <p class="mb-0">Última versão aprovada e publicada em 30/12/2019 por: Federação Brasileira de Bancos.</p>
</div>
