<div class="app-gallery-slides-container" #slidesContainer>
  <ng-container
    *ngFor="let item of slidesArray; let i = index;">
    <div class="app-gallery-slide-container" #slide>
      <div class="row">
        <div class="col-6">
          <img
            src="{{ photoList[getIndex(i)].path }}"
            (click)="openModalPhoto(getIndex(i))">
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-6">
              <img
                src="{{ photoList[getIndex(i, 1)].path }}"
                (click)="openModalPhoto(getIndex(i, 1))"
                *ngIf="photoList[getIndex(i, 1)]">
            </div>
            <div class="col-6">
              <img
                src="{{ photoList[getIndex(i, 2)].path }}"
                (click)="openModalPhoto(getIndex(i, 2))"
                *ngIf="photoList[getIndex(i, 2)]">
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-6">
              <img
                src="{{ photoList[getIndex(i, 3)].path }}"
                (click)="openModalPhoto(getIndex(i, 3))"
                *ngIf="photoList[getIndex(i, 3)]">
            </div>
            <div class="col-6">
              <img
                src="{{ photoList[getIndex(i, 4)].path }}"
                (click)="openModalPhoto(getIndex(i, 4))"
                *ngIf="photoList[getIndex(i, 4)]">
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<app-gallery-nav
  [slidesNumber]="galleryModel.slides"
  [slideCurrent]="galleryModel.slideCurrent"
  (slideTo)="handleSlideTo($event)">
</app-gallery-nav>
