<app-page-header>
  <h1 i18n>Novidades, negócios e soluções em um único espaço</h1>
  <app-page-header-menu></app-page-header-menu>
</app-page-header>
<div id="a-exposicao" class="ciab-section ciab-section-exposure">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mb-3" i18n>A exposição</h2>
      </div>
      <div class="col-md-6">
        <p class="ciab-text-color-green ciab-text-highlight" i18n>Um público selecionado para sua empresa potencializar negócios</p>
        <p i18n>O CIAB FEBRABAN realiza sua exposição paralelamente ao Congresso que, tradicionalmente, conta com a participação de mais de 140 empresas expositoras, o que proporciona ao visitante a oportunidade de estreitar relacionamento e de conferir em um único espaço todas as novidades e soluções tecnológicas para os próximos anos.</p>
        <p class="mb-0" i18n>Além das grandes empresas expositoras e patrocinadoras, o visitante encontrará o Lounge Fintech, que reúne Fintechs, Insurtechs e Ecossistema e para networking com Executivos de Bancos e Instituições Financeiras.</p>
      </div>
    </div>
    <div class="mt-3 mt-lg-5">
      <app-banner-sponsor-exhibit>
      </app-banner-sponsor-exhibit>
    </div>
  </div>
</div>
<div id="mapa-e-expositores" class="ciab-section ciab-section-gray">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-4 mb-3 mb-lg-0">
        <h2 class="mb-3" i18n>Mapa e expositores</h2>
          <a
            href="../assets/files/ciab-planta-2020-pt.pdf"
            class="ciab-button ciab-button-green"
            download
            i18n
            i18n-href>Baixar PDF da planta</a>
      </div>
      <div class="col-lg-8">
        <p class="ciab-text-highlight" i18n>Conceito inovador que visa melhor circulação no espaço</p>
        <p i18n>A Exposição está organizada para proporcionar aos expositores interação e relacionamento com os visitantes. O CIAB FEBRABAN é o local ideal para apresentar e conhecer os lançamentos de produtos e soluções, além das últimas tendências do setor. Aproveite esta oportunidade e garanta já o espaço da sua empresa.</p>
      </div>
    </div>
    <img
      src="../assets/images/home/planta-oficial-ciab-febraban.jpg"
      alt="Planta oficial CIAB FEBRABAN"
      title="Planta oficial CIAB FEBRABAN"
      i18n-alt
      i18n-title>
  </div>
</div>
<div class="ciab-section">
  <div class="container">
    <h2 class="text-center mb-3 mb-lg-5" i18n>Expositores</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="app-exhibitor" *ngFor="let item of exhibitorList.colOne">
          <span class="app-exhibitor-name">{{ item.name }}</span>
          <span class="app-exhibitor-place">{{ item.box }}</span>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="app-exhibitor" *ngFor="let item of exhibitorList.colTwo">
          <span class="app-exhibitor-name">{{ item.name }}</span>
          <span class="app-exhibitor-place">{{ item.box }}</span>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="app-exhibitor" *ngFor="let item of exhibitorList.colThree">
          <span class="app-exhibitor-name">{{ item.name }}</span>
          <span class="app-exhibitor-place">{{ item.box }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="quero-visitar" class="ciab-section ciab-section-come-visit pb-0">
  <div class="ciab-section-come-visit-background-color">
    <div class="ciab-section-come-visit-background-image">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-9 offset-lg-3">
        <div class="ciab-section-box-white">
          <h2 class="mb-3" i18n>Venha visitar</h2>
          <p i18n>Faça já o seu cadastro online, ou diretamente no Transamerica Expo Center - Área credenciamento de visitantes.</p>
          <div class="ciab-bar ciab-bar-green"></div>
          <p class="font-weight-bold" i18n>Custo e regras de acesso à exposição</p>
          <p i18n>A participação no CIAB FEBRABAN 2018 terá um custo de <span class="font-weight-bold">R$ 350,00 por participante</span>, dando acesso exclusivo à área de Exposição durante os três dias de realização do evento.</p>
          <p i18n>Os convidados dos Expositores e Patrocinadores são isentos do pagamento, desde que tenham recebido o convite eletrônico, pessoal e intransferível, para inscrição online.</p>
          <p i18n>Os associados da FEBRABAN, bem como os apoiadores e parceiros estratégicos do evento, também são isentos de pagamento. Caso não tenham recebido o convite, solicitamos entrar em contato pelo e-mail <a href="mailto:eventos@febraban.org.br" class="ciab-text-color-green">eventos@febraban.org.br</a> para solicitá-lo.</p>
          <p i18n>Todos visitantes da Exposição terão direito a assistir 01 (uma) palestra do Congresso, <i>exceto no Auditório FEBRABAN</i>, conforme disponibilidade.</p>
          <button class="ciab-button ciab-button-green" (click)="redirectTo('inscricao')" i18n>Faça parte!</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ciab-section">
  <div class="container">
    <div class="text-center">
      <app-sponsors>
      </app-sponsors>
    </div>
  </div>
</div>
