
@import './../../../../../assets/sass/imports/media-queries'

.ciab-section-exposure
  background-repeat: no-repeat
  background-size: 439px 382px
  background-position: bottom left
  @include MQ(MD)
    background-image: url('./../../../../../assets/images/exposure/app-exposure-exposition-background-image.svg')

.app-exhibitor
  display: flex
  font-size: 14px
  padding: 16px
  border-top: 1px solid #E2E2E2
  transition: background-color 0.25s
  &:hover
    background-color: #F5F5F5
  @include MQ(LG)
    &:last-child
      border-bottom: 1px solid #E2E2E2

.app-exhibitor-name
  flex: 1
  font-weight: bold

.app-exhibitor-place
  flex: 1
  font-size: 14px
  text-align: right

.ciab-section-box-white
  background-color: #FFF
  padding: 32px
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1)
  @include MQ(LG)
    padding: 64px

.ciab-section-text-green
  color: #00AF66

.ciab-section-come-visit
  position: relative

.ciab-section-come-visit-background-color
  position: absolute
  z-index: -1
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-image: url('./../../../../../assets/images/exposure/app-exposure.svg')
  background-repeat: no-repeat
  background-size: 439px 382px
  background-position: 50px bottom

.ciab-section-come-visit-background-image
  position: absolute
  z-index: -1
  top: 0
  left: 0
  width: 100%
  height: 80%
  background-image: url('./../../../../../assets/images/exposure/app-exposure-come-visit-background-image.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
