<div class="app-page-header" [ngStyle]="{ 'background-image': 'url(' + backgroundImage + ')' }">
  <div class="container">
    <div class="text-white text-center">
      <ng-content></ng-content>
    </div>
    <div class="app-page-header-menu">
      <div class="app-page-header-info">
        <p class="app-page-header-info-title mb-2">Quando e onde</p>
        <p class="app-page-header-info-text app-page-header-info-text-icon app-page-header-info-text-icon-calendar mb-1">23 a 25 de julho de 2020</p>
        <p class="app-page-header-info-text app-page-header-info-text-icon app-page-header-info-text-icon-marker mb-0">Transamerica Expo Center, São Paulo</p>
      </div>
      <button>
        <div class="app-page-header-menu-bar app-page-header-menu-bar-red"></div>
        <p class="app-page-header-menu-text app-page-header-menu-text-red">Cadastre-se</p>
      </button>
      <button>
        <div class="app-page-header-menu-bar app-page-header-menu-bar-green"></div>
        <p class="app-page-header-menu-text app-page-header-menu-text-green">Patrocinar/expor</p>
      </button>
      <button>
        <div class="app-page-header-menu-bar app-page-header-menu-bar-blue"></div>
        <p class="app-page-header-menu-text app-page-header-menu-text-blue">Inscrição</p>
      </button>
    </div>
  </div>
</div>
