<div class="app-page-header-menu">
  <div class="app-page-header-info">
    <p class="app-page-header-info-title mb-2" i18n>Quando e onde</p>
    <button class="ciab-button-dropdown" mat-button [matMenuTriggerFor]="menu">
      <p class="app-page-header-info-text app-page-header-info-text-icon app-page-header-info-text-icon-calendar mb-1" i18n>23 a 25 de junho de 2020</p>
      <p class="app-page-header-info-text app-page-header-info-text-icon app-page-header-info-text-icon-marker mb-0">Transamerica Expo Center, São Paulo</p>
    </button>
    <mat-menu class="ciab-button-dropdown-menu" #menu="matMenu">
      <a
        mat-menu-item
        href="https://calendar.google.com/calendar/r/eventedit/copy/NmhtYXFrMjhlbGk0c2V1YzYyM2wxMHJuNW4gZmVicmFiYW4uZXZlbnRvc0Bt/dGlhZ28uYXJpb2xpQG1lZ2FsZWlvcy5jb20?sf=true"
        target="_blank">
        <span class="mat-menu-item-google"></span> Google Calendar
      </a>
      <a
        mat-menu-item
        href="assets/files/ciab-febraban-2020.ics"
        download>
        <span class="mat-menu-item-outlook"></span> Microsoft Outlook
      </a>
      <a
        mat-menu-item
        href="assets/files/ciab-febraban-2020.ics"
        download>
        <span class="mat-menu-item-apple"></span> Apple Calendar
      </a>
    </mat-menu>
  </div>
  <button (click)="openRegisterForm()">
    <div class="app-page-header-menu-bar app-page-header-menu-bar-red"></div>
    <p class="app-page-header-menu-text app-page-header-menu-text-red" i18n>Cadastre-se</p>
  </button>
  <button (click)="redirectTo('patrocinar-expor')">
    <div class="app-page-header-menu-bar app-page-header-menu-bar-green"></div>
    <p class="app-page-header-menu-text app-page-header-menu-text-green" i18n>Patrocinar/expor</p>
  </button>
  <button (click)="redirectTo('inscricao')">
    <div class="app-page-header-menu-bar app-page-header-menu-bar-blue"></div>
    <p class="app-page-header-menu-text app-page-header-menu-text-blue" i18n>Inscrição</p>
  </button>
</div>
