
:host
  position: relative
  display: block
  background-color: #FFF
  overflow: hidden
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.07)
  &:before
    content: ''
    position: absolute
    right: -32px
    bottom: -7px
    width: 0
    height: 0
    border-left: 50px solid transparent
    border-right: 50px solid transparent
    border-top: 50px solid #FF585D
    transform: rotate(-45deg)

.app-keynote-speaker-info
  padding: 40px

.app-keynote-speaker-name
  font-size: 18px
  font-weight: bold
  text-transform: uppercase
  color: #000000

.app-keynote-speaker-button
  background-color: transparent
  font-size: 16px
  font-weight: bold
  text-transform: uppercase
  color: #00A9CE
  padding: 6px 0
  border: 0
  border-bottom: 2px solid #00A9CE
  border-radius: 0
