<app-page-header>
  <h1 class="mb-0">Publicações</h1>
</app-page-header>
<div class="ciab-section ciab-section-gray">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 text-md-right mb-3 mb-md-0">
        <img class="app-publications-magazine" src="./assets/images/publications/app-publications-magazine-2019.jpg" alt="Revista 2019" title="Revista 2019">
      </div>
      <div class="col-md-8">
        <h2 class="mb-3">Revista CIAB FEBRABAN</h2>
        <p class="font-weight-bold">Jul / Ago 2019</p>
        <p>Edição 82</p>
        <button type="button" class="ciab-button ciab-button-blue-flat">Leia agora</button>
      </div>
    </div>
  </div>
</div>
<div class="ciab-section app-publications-section-research-febraban">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="mb-3">Pesquisa FEBRABAN</h2>
        <p class="mb-0">Estudo realizado anualmente pela FEBRABAN junto aos principais bancos do País com o objetivo de mapear o estágio da tecnologia bancária no Brasil e suas tendências. A Pesquisa expõe e explica de que forma o intenso uso da tecnologia no setor bancário se reverte em maior conveniência e segurança para o cliente, tornando-se um importante instrumento de discussões na academia, órgãos do governo, mídia, entre outros.</p>
      </div>
    </div>
    <div class="row mt-3 mt-lg-5 mb-md-5">
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="app-publications-magazine-container">
          <img class="app-publications-magazine" src="./assets/images/publications/app-publications-magazine-2018.jpg" alt="Revista 2018" title="Revista 2018">
          <div class="app-publications-magazine-overlay">
            <div class="col-12 align-self-start">
              <p class="ciab-text-highlight">Pesquisa FEBRABAN de Tecnologia Bancária 2018</p>
            </div>
            <div class="col-12 align-self-end">
              <button type="button" class="ciab-button ciab-button-block ciab-button-blue-flat mb-3">Visualizar</button>
              <button type="button" class="ciab-button ciab-button-block ciab-button-blue-flat">Baixar o PDF</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="app-publications-magazine-container">
          <img class="app-publications-magazine" src="./assets/images/publications/app-publications-magazine-2017.jpg" alt="Revista 2017" title="Revista 2017">
          <div class="app-publications-magazine-overlay">
            <div class="col-12 align-self-start">
              <p class="ciab-text-highlight">Pesquisa FEBRABAN de Tecnologia Bancária 2017</p>
            </div>
            <div class="col-12 align-self-end">
              <button type="button" class="ciab-button ciab-button-block ciab-button-blue-flat mb-3">Visualizar</button>
              <button type="button" class="ciab-button ciab-button-block ciab-button-blue-flat">Baixar o PDF</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="app-publications-magazine-container">
          <img class="app-publications-magazine" src="./assets/images/publications/app-publications-magazine-2015.jpg" alt="Revista 2015" title="Revista 2015">
          <div class="app-publications-magazine-overlay">
            <div class="col-12 align-self-start">
              <p class="ciab-text-highlight">Pesquisa FEBRABAN de Tecnologia Bancária 2015</p>
            </div>
            <div class="col-12 align-self-end">
              <button type="button" class="ciab-button ciab-button-block ciab-button-blue-flat mb-3">Visualizar</button>
              <button type="button" class="ciab-button ciab-button-block ciab-button-blue-flat">Baixar o PDF</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="app-publications-magazine-container">
          <img class="app-publications-magazine" src="./assets/images/publications/app-publications-magazine-2014.jpg" alt="Revista 2014" title="Revista 2014">
          <div class="app-publications-magazine-overlay">
            <div class="col-12 align-self-start">
              <p class="ciab-text-highlight">Pesquisa FEBRABAN de Tecnologia Bancária 2014</p>
            </div>
            <div class="col-12 align-self-end">
              <button type="button" class="ciab-button ciab-button-block ciab-button-blue-flat mb-3">Visualizar</button>
              <button type="button" class="ciab-button ciab-button-block ciab-button-blue-flat">Baixar o PDF</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="app-publications-magazine-container">
          <img class="app-publications-magazine" src="./assets/images/publications/app-publications-magazine-2013.jpg" alt="Revista 2013" title="Revista 2013">
          <div class="app-publications-magazine-overlay">
            <div class="col-12 align-self-start">
              <p class="ciab-text-highlight">Pesquisa FEBRABAN de Tecnologia Bancária 2013</p>
            </div>
            <div class="col-12 align-self-end">
              <button type="button" class="ciab-button ciab-button-block ciab-button-blue-flat mb-3">Visualizar</button>
              <button type="button" class="ciab-button ciab-button-block ciab-button-blue-flat">Baixar o PDF</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="app-publications-magazine-container">
          <img class="app-publications-magazine" src="./assets/images/publications/app-publications-magazine-2012.jpg" alt="Revista 2012" title="Revista 2012">
          <div class="app-publications-magazine-overlay">
            <div class="col-12 align-self-start">
              <p class="ciab-text-highlight">Pesquisa FEBRABAN de Tecnologia Bancária 2012</p>
            </div>
            <div class="col-12 align-self-end">
              <button type="button" class="ciab-button ciab-button-block ciab-button-blue-flat mb-3">Visualizar</button>
              <button type="button" class="ciab-button ciab-button-block ciab-button-blue-flat">Baixar o PDF</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-3 mt-lg-5">
      <app-sponsors></app-sponsors>
    </div>
  </div>
</div>