<h2 class="mb-3 mb-lg-5" i18n>Patrocinadores</h2>
<h3 class="app-sponsors-h3 mb-3">Platinum</h3>
<img
  src="../assets/images/shared/sponsors/app-sponsors-platinum.png"
  alt="Patrocinadores platinum"
  title="Patrocinadores platinum"
  i18n-alt
  i18n-title>
<hr class="app-sponsors-hr my-3 my-lg-5">
<h3 class="app-sponsors-h3 mb-3" i18n>Ouro</h3>
<img
  src="../assets/images/shared/sponsors/app-sponsors-gold.png"
  alt="Patrocinadores ouro"
  title="Patrocinadores ouro"
  i18n-alt
  i18n-title>
<hr class="app-sponsors-hr my-3 my-lg-5">
<h3 class="app-sponsors-h3 mb-3" i18n>Prata</h3>
<img
  src="../assets/images/shared/sponsors/app-sponsors-silver.png"
  alt="Patrocinadores prata"
  title="Patrocinadores prata"
  i18n-alt
  i18n-title>
<hr class="app-sponsors-hr my-3 my-lg-5">
<h3 class="app-sponsors-h3 mb-3" i18n>Parceiros estratégicos</h3>
<img
  src="../assets/images/shared/sponsors/app-sponsors-strategic-partners.png"
  alt="Parceiros estratégicos"
  title="Parceiros estratégicos"
  i18n-alt
  i18n-title>
<hr class="app-sponsors-hr my-3 my-lg-5">
<h3 class="app-sponsors-h3 mb-3" i18n>Apoio</h3>
<img
  src="../assets/images/shared/sponsors/app-sponsors-support.png"
  alt="Apoio" 
  title="Apoio"
  i18n-alt
  i18n-title>
