<h2 class="mb-3 mb-lg-5" i18n="@@patrocinadoresCategoriaTitulo">Patrocinadores</h2>
<h3 class="app-sponsors-h3 mb-3">Platinum</h3>
<img
  src="assets/images/shared/sponsors/app-sponsors-platinum.png"
  alt="Patrocinadores platinum"
  title="Patrocinadores platinum"
  i18n-alt="@@patrocinadoresCategoriaPlatinum"
  i18n-title="@@patrocinadoresCategoriaPlatinum">
<hr class="app-sponsors-hr my-3 my-lg-5">
<h3 class="app-sponsors-h3 mb-3" i18n="@@patrocinadoresCategoriaOuro">Ouro</h3>
<img
  src="assets/images/shared/sponsors/app-sponsors-gold.png"
  alt="Patrocinadores gold"
  title="Patrocinadores gold"
  i18n-alt="@@patrocinadoresCategoriaGold"
  i18n-title="@@patrocinadoresCategoriaGold">
<hr class="app-sponsors-hr my-3 my-lg-5">
<h3 class="app-sponsors-h3 mb-3" i18n="@@patrocinadoresCategoriaPrata">Prata</h3>
<img
  src="assets/images/shared/sponsors/app-sponsors-silver.png"
  alt="Patrocinadores silver"
  title="Patrocinadores silver"
  i18n-alt="@@patrocinadoresSilver"
  i18n-title="@@patrocinadoresSilver">
<hr class="app-sponsors-hr my-3 my-lg-5">
<h3 class="app-sponsors-h3 mb-3" i18n="@@patrocinadoresCategoriaBronze">Bronze</h3>
<img
  src="assets/images/shared/sponsors/app-sponsors-bronze.png"
  alt="Patrocinadores bronze"
  title="Patrocinadores bronze"
  i18n-alt="@@patrocinadoresBronze"
  i18n-title="@@patrocinadoresBronze">
<hr class="app-sponsors-hr my-3 my-lg-5">
<h3 class="app-sponsors-h3 mb-3" i18n="@@patrocinadoresCategoriaParceirosEstrategicos">Parceiros estratégicos</h3>
<img
  src="assets/images/shared/sponsors/app-sponsors-strategic-partners.png"
  alt="Parceiros estratégicos"
  title="Parceiros estratégicos"
  i18n-alt="@@patrocinadoresParceirosEstrategicos"
  i18n-title="@@patrocinadoresParceirosEstrategicos">
<hr class="app-sponsors-hr my-3 my-lg-5">
<h3 class="app-sponsors-h3 mb-3" i18n="@@patrocinadoresCategoriaApoio">Apoio</h3>
<img
  src="assets/images/shared/sponsors/app-sponsors-support.png"
  alt="Apoio" 
  title="Apoio"
  i18n-alt="@@patrocinadoresApoio"
  i18n-title="@@patrocinadoresApoio">
<hr class="app-sponsors-hr my-3 my-lg-5">
<h3 class="app-sponsors-h3 mb-3" i18n="@@patrocinadoresCategoriaParceirosMidia">Parceiros de mídia</h3>
<img
  src="assets/images/shared/sponsors/app-sponsors-media-partners.png"
  alt="Parceiros de mídia"
  title="Parceiros de mídia"
  i18n-alt="@@patrocinadoresParceirosMidia"
  i18n-title="@@patrocinadoresParceirosMidia">
