<h2 class="mb-3 mb-lg-5" i18n="@@patrocinadores">Patrocinadores</h2>
<h3 class="app-sponsors-h3 mb-3">Platinum</h3>
<img
  src="assets/images/shared/sponsors/app-sponsors-platinum.png"
  alt="Patrocinadores platinum"
  title="Patrocinadores platinum"
  i18n-alt="@@patrocinadoresPlatinum"
  i18n-title="@@patrocinadoresPlatinum">
<hr class="app-sponsors-hr my-3 my-lg-5">
<h3 class="app-sponsors-h3 mb-3" i18n="@@ouro">Ouro</h3>
<img
  src="assets/images/shared/sponsors/app-sponsors-gold.png"
  alt="Patrocinadores ouro"
  title="Patrocinadores ouro"
  i18n-alt="@@patrocinadoresOuro"
  i18n-title="@@patrocinadoresOuro">
<hr class="app-sponsors-hr my-3 my-lg-5">
<h3 class="app-sponsors-h3 mb-3" i18n="@@prata">Prata</h3>
<img
  src="assets/images/shared/sponsors/app-sponsors-silver.png"
  alt="Patrocinadores prata"
  title="Patrocinadores prata"
  i18n-alt="@@patrocinadoresPrata"
  i18n-title="@@patrocinadoresPrata">
<hr class="app-sponsors-hr my-3 my-lg-5">
<h3 class="app-sponsors-h3 mb-3" i18n="@@bronze">Bronze</h3>
<img
  src="assets/images/shared/sponsors/app-sponsors-bronze.png"
  alt="Patrocinadores bronze"
  title="Patrocinadores bronze"
  i18n-alt="@@patrocinadoresBronze"
  i18n-title="@@patrocinadoresBronze">
<hr class="app-sponsors-hr my-3 my-lg-5">
<h3 class="app-sponsors-h3 mb-3" i18n="@@parceirosEstrategicos">Parceiros estratégicos</h3>
<img
  src="assets/images/shared/sponsors/app-sponsors-strategic-partners.png"
  alt="Parceiros estratégicos"
  title="Parceiros estratégicos"
  i18n-alt="@@parceirosEstrategicos"
  i18n-title="@@parceirosEstrategicos">
<hr class="app-sponsors-hr my-3 my-lg-5">
<h3 class="app-sponsors-h3 mb-3" i18n="@@apoio">Apoio</h3>
<img
  src="assets/images/shared/sponsors/app-sponsors-support.png"
  alt="Apoio" 
  title="Apoio"
  i18n-alt="@@apoio"
  i18n-title="@@apoio">
<hr class="app-sponsors-hr my-3 my-lg-5">
<h3 class="app-sponsors-h3 mb-3" i18n="@@parceirosMidia">Parceiros de mídia</h3>
<img
  src="assets/images/shared/sponsors/app-sponsors-media-partners.png"
  alt="Parceiros de mídia"
  title="Parceiros de mídia"
  i18n-alt="@@parceirosMidia"
  i18n-title="@@parceirosMidia">
