<div class="ciab-modal-body">
  <h4 class="mb-3 text-center" i18n>Política de privacidade</h4>
  <p i18n>Para garantir segurança e privacidade, a FEBRABAN, entidade responsável pelo CIAB, assume os seguintes compromissos com os seus usuários:</p>
  <ol class="mb-0">
    <li i18n>Fornecer sempre a possibilidade de cancelar o envio de mensagens</li>
    <li i18n>Todas as informações obtidas através do site são confidenciais e serão utilizadas apenas com fins estatísticos</li>
    <li i18n>Utilizar cookies apenas para facilitar o login de usuários cadastrados ou para controle de audiência, nunca coletar informações não autorizadas</li>
    <li i18n>Não distribuir material ofensivo, discriminatório ou potencialmente danoso para os seus usuários</li>
    <li i18n>Para dúvidas, sugestões, reclamações e maiores informações, use nosso canal direto com o usuário.</li>
  </ol>
</div>
