
@import './../../../../../assets/sass/imports/variables'
@import './../../../../../assets/sass/imports/media-queries'

app-page-header
  background-image: url('~/assets/images/schedule/app-schedule-page-header-background-image.jpg')

.ciab-box-white
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05)

.ciab-text-icon-clock
  background-image: url('~/assets/images/icons/clock-blue-dark.svg')
  background-repeat: no-repeat
  background-size: 23px 22px
  background-position: left top 3px
  line-height: 28px
  padding-left: 23px + 8px

.ciab-text-icon-marker-blue-light
  background-image: url('~/assets/images/icons/map-marker-alt-blue.svg')
  background-repeat: no-repeat
  background-size: 20px 25px
  background-position: left top 1px
  padding-left: 20px + 8px

.ciab-box-event-info
  font-weight: 600
  >
    p
      margin-bottom: 4px
      &:last-child
        margin-bottom: 0

.ciab-box-event-content
  > p:last-child
    margin-bottom: 0

.ciab-text-function
  font-size: 14px
  font-weight: bold
  color: #5461C8

.ciab-button-icon
  background-color: $BLUE_LIGHT
  border-radius: 4px

.palestras
  font-size: 16px
  font-weight: bold
  color: #001A72
  text-transform: uppercase

.date-day
  font-size: 44px
  font-weight: bold
  color: #00A9CE
  line-height: 1
  margin-right: 4px

.date-month
  font-size: 14px
  font-weight: bold
  color: #00A9CE
  line-height: 1

.title-1
  font-size: 16px
  font-weight: bold
  color: #001A72