<app-page-header>
  <h1 i18n>Programação</h1>
</app-page-header>
<div class="ciab-section ciab-section-gray">
  <div class="container">
    <div class="form-row">
      <div class="col-4">
        <button class="ciab-schedule-date-button" [class.active]="eventsModel.date === '2019-06-11'" (click)="setDate('2019-06-11')">
          <div class="form-row justify-content-center align-items-center">
            <div class="col-auto">
              <span class="ciab-schedule-date-button-day">11</span>
            </div>
            <div class="col-auto">
              <span class="ciab-schedule-date-button-month-year" i18n>Junho</span>
              <span class="ciab-schedule-date-button-month-year">2019</span>
            </div>
          </div>
        </button>
      </div>
      <div class="col-4">
        <button class="ciab-schedule-date-button" [class.active]="eventsModel.date === '2019-06-12'" (click)="setDate('2019-06-12')">
          <div class="form-row justify-content-center align-items-center">
            <div class="col-auto">
              <span class="ciab-schedule-date-button-day">12</span>
            </div>
            <div class="col-auto">
              <span class="ciab-schedule-date-button-month-year" i18n>Junho</span>
              <span class="ciab-schedule-date-button-month-year">2019</span>
            </div>
          </div>
        </button>
      </div>
      <div class="col-4">
        <button class="ciab-schedule-date-button" [class.active]="eventsModel.date === '2019-06-13'" (click)="setDate('2019-06-13')">
          <div class="form-row justify-content-center align-items-center">
            <div class="col-auto">
              <span class="ciab-schedule-date-button-day">13</span>
            </div>
            <div class="col-auto">
              <span class="ciab-schedule-date-button-month-year" i18n>Junho</span>
              <span class="ciab-schedule-date-button-month-year">2019</span>
            </div>
          </div>
        </button>
      </div>
    </div>
    <div class="ciab-box ciab-box-blue-light my-3">
      <app-schedule-events-form
        [themeList]="themeList"
        [placeList]="placeList"
        (scheduleEventsFormChange)="handlescheduleEventsFormChange($event)">
      </app-schedule-events-form>
    </div>
    <div class="ciab-schedule-speaker-container">
      <div class="ciab-schedule-event" *ngFor="let item of eventList">
        <div class="row">
          <div class="col-lg-4 mb-3 mb-lg-0">
            <p class="ciab-schedule-event-time ciab-text-highlight ciab-text-color-blue-light">{{ item.hora_Inicio | date: 'HH:mm' }} - {{ item.hora_Fim | date: 'HH:mm' }}</p>
            <div class="ciab-schedule-info-event ciab-schedule-info">
              <p class="ciab-schedule-info-place">{{ item.local1 }}</p>
              <p class="ciab-schedule-info-theme">{{ item.subtema }}</p>
              <p class="ciab-schedule-info-stamp" *ngIf="item.selo">{{ item.selo }}</p>
            </div>
          </div>
          <div class="col-lg-8 ciab-box-event-content">
            <p class="ciab-text-highlight ciab-text-color-blue-dark">{{ item.titulo1 }}</p>
            <p>{{ item.resumo1 }}</p>
            <div class="ciab-schedule-event-speaker-container">
              <p class="ciab-schedule-event-speaker" *ngFor="let item of item.palestrantes">
                <b class="ciab-text-color-blue-light" *ngIf="item.idStatus === 'Moderador'" i18n>Moderador: </b>
                <b>{{ item.nome }}</b> - {{ item.cargo_Empresa1 }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center my-3">
      <button type="button" class="ciab-button ciab-button-blue-dark" [disabled]="eventsDone" (click)="getEvents(true)" i18n>Carregar mais eventos</button>
    </div>
    <h2 class="text-center my-3 my-lg-5" i18n>Palestrantes</h2>
    <div class="ciab-box ciab-box-blue-light my-3">
      <app-schedule-speakers-form
        [themeList]="themeList"
        (scheduleSpeakersFormChange)="handleScheduleSpeakersFormChange($event)">
      </app-schedule-speakers-form>
    </div>
    <div class="ciab-schedule-speaker-container">
      <div class="ciab-schedule-speaker" *ngFor="let speaker of speakerList">
        <div class="row mb-3">
          <div class="col-lg-2 mb-3 mb-lg-0">
            <img src="https://img.febraban.org.br/Palestrantes/{{ speaker.profilePicture_small }}" [alt]="speaker.name" [title]="speaker.name">
          </div>
          <div class="col-lg-10">
            <div class="form-row">
              <div class="col">
                <p class="ciab-schedule-speaker-name">{{ speaker.name }}</p>
                <p class="ciab-schedule-speaker-function">{{ speaker.function }}</p>
              </div>
              <div class="col-lg-auto text-lg-right mb-3 mb-lg-0" *ngIf="speaker.facebook || speaker.twitter || speaker.linkedin">
                <a [href]="speaker.facebook" target="_blank" class="btn ciab-button-icon ciab-button-icon-facebook-white" *ngIf="speaker.facebook"></a>
                <a [href]="speaker.twitter" target="_blank" class="btn ciab-button-icon ciab-button-icon-twitter-white" *ngIf="speaker.twitter"></a>
                <a [href]="speaker.linkedin" target="_blank" class="btn ciab-button-icon ciab-button-icon-linkedin-white" *ngIf="speaker.linkedin"></a>
              </div>
            </div>
            <p *ngIf="speaker.miniCV">{{ speaker.miniCV }}</p>
            <p class="ciab-schedule-speaker-lecture-title mb-0" i18n>Palestras</p>
          </div>
        </div>
        <div class="ciab-schedule-speaker-lecture-date-container" *ngFor="let day of speaker.lecturesByDay | keyvalue">
          <div class="row align-items-center">
            <div class="col-lg-2 mb-3 mb-lg-0">
              <p class="ciab-schedule-speaker-lecture-date text-lg-center">
                <span class="ciab-schedule-speaker-lecture-day">{{ day.key | date: 'dd' }}</span>
                <span class="ciab-schedule-speaker-lecture-month">{{ day.key | date: 'MMMM' }}</span>
              </p>
            </div>
            <div class="col-lg-10">
              <div class="ciab-schedule-speaker-lecture" *ngFor="let lecture of day.value">
                <p class="ciab-text-highlight ciab-text-color-blue-dark">{{ lecture.name }}</p>
                <div class="ciab-schedule-info-speaker ciab-schedule-info">
                  <div class="row">
                    <div class="col-lg-4">
                      <p class="ciab-schedule-info-time">{{ lecture.startTime | date: 'HH:mm' }} - {{ lecture.finishTime | date: 'HH:mm' }}</p>
                    </div>
                    <div class="col-lg-4">
                      <p class="ciab-schedule-info-theme">{{ lecture.theme }}</p>
                    </div>
                    <div class="col-lg-4">
                      <p class="ciab-schedule-info-place">{{ lecture.place }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="button" class="ciab-button ciab-button-blue-dark" [disabled]="speakersDone" (click)="getSpeakers(true)" i18n>Carregar mais palestrantes</button>
      </div>
    </div>
  </div>
</div>
<div class="ciab-section">
  <div class="container text-center">
    <app-sponsors></app-sponsors>
  </div>
</div>
