
@import './../../../../../assets/sass/imports/variables'
@import './../../../../../assets/sass/imports/media-queries'

app-page-header
  background-image: url('/assets/images/schedule/app-schedule-page-header-background-image.jpg')

.ciab-schedule-date-button
  position: relative
  width: 100%
  background-color: transparent
  color: $BLUE_LIGHT
  text-align: left
  line-height: 1
  padding: 16px
  border: 0
  margin-bottom: 16px
  &.active
    background-color: $BLUE_DARK
    color: #FFF
    &:before
      content: ''
      position: absolute
      top: 100%
      left: 50%
      width: 0
      height: 0
      border-left: 16px solid transparent
      border-right: 16px solid transparent
      border-top: 16px solid $BLUE_DARK
      margin-left: -16px

.ciab-schedule-date-button-day
  display: block
  font-size: 48px
  font-weight: bold
  @include MQ(LG)
    font-size: 62px

.ciab-schedule-date-button-month-year
  display: block
  font-weight: 600
  &:first-child
    margin-bottom: 4px

.ciab-schedule-speaker
  background-color: #FFF
  padding: 16px
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05)
  margin-bottom: 16px
  &:last-child
    margin-bottom: 0
  @include MQ(LG)
    padding: 32px

.ciab-schedule-speaker-name
  font-size: 20px
  font-weight: bold
  color: #001A72
  text-transform: uppercase
  margin-bottom: 0

.ciab-schedule-speaker-function
  font-size: 14px
  font-weight: bold
  color: #5461C8

.ciab-button-icon
  background-color: $BLUE_LIGHT
  border-radius: 4px

.ciab-schedule-speaker-lecture
  border-top: 1px solid #E1E1E1
  padding: 16px 0
  &:last-child
    padding-bottom: 0

.ciab-schedule-speaker-lecture-title
  font-size: 16px
  font-weight: bold
  color: #001A72
  text-transform: uppercase

.ciab-schedule-speaker-lecture-date
  font-weight: bold
  color: #00A9CE
  line-height: 1
  margin: 0

.ciab-schedule-speaker-lecture-day
  font-size: 44px

.ciab-schedule-speaker-lecture-month
  font-size: 14px

.ciab-schedule-speaker-lecture-name
  font-size: 16px
  font-weight: bold
  color: #001A72

.ciab-schedule-speaker-lecture-info
  background-color: #F5F5F5
  padding: 16px
  p
    font-size: 14px
    font-weight: 600
    margin: 0
    
.ciab-schedule-speaker-lecture-info-time,
.ciab-schedule-speaker-lecture-info-theme,
.ciab-schedule-speaker-lecture-info-place
  padding-left: 25px + 8px

.ciab-schedule-speaker-lecture-info-time
  background-image: url('/assets/images/icons/clock-blue-light.svg')
  background-repeat: no-repeat
  background-size: 23px 22px
  background-position: left top 1px
  @include MQ(LG)
    padding-left: 23px + 8px

.ciab-schedule-speaker-lecture-info-theme
  background-image: url('/assets/images/icons/file-blue-light.svg')
  background-repeat: no-repeat
  background-size: 18px 20px
  background-position: left top 2px
  @include MQ(LG)
    padding-left: 18px + 8px

.ciab-schedule-speaker-lecture-info-place
  background-image: url('/assets/images/icons/map-marker-alt-blue-light.svg')
  background-repeat: no-repeat
  background-size: 20px 25px
  background-position: left top
  @include MQ(LG)
    padding-left: 25px + 8px

// .ciab-box-white
//   box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05)

// .ciab-text-icon-clock
//   background-image: url('/assets/images/icons/clock-blue-dark.svg')
//   background-repeat: no-repeat
//   background-size: 23px 22px
//   background-position: left top 3px
//   line-height: 28px
//   padding-left: 23px + 8px

// .ciab-text-icon-marker-blue-light
//   background-image: url('/assets/images/icons/map-marker-alt-blue.svg')
//   background-repeat: no-repeat
//   background-size: 20px 25px
//   background-position: left top 1px
//   padding-left: 20px + 8px

// .ciab-box-event-info
//   font-weight: 600
//   >
//     p
//       margin-bottom: 4px
//       &:last-child
//         margin-bottom: 0

// .ciab-box-event-content
//   > p:last-child
//     margin-bottom: 0

// .ciab-text-function
//   font-size: 14px
//   font-weight: bold
//   color: #5461C8

// .palestras
//   font-size: 16px
//   font-weight: bold
//   color: #001A72
//   text-transform: uppercase

// .date-day
//   font-size: 44px
//   font-weight: bold
//   color: #00A9CE
//   line-height: 1
//   margin-right: 4px

// .date-month
//   font-size: 14px
//   font-weight: bold
//   color: #00A9CE
//   line-height: 1

// .title-1
//   font-size: 16px
//   font-weight: bold
//   color: #001A72

// .ciab-box-small
//   font-size: 14px
//   font-weight: 600
//   padding: 16px

// .ciab-speaker-day
//   padding-top: 16px
//   border-top: 1px solid #E2E2E2

// .ciab-text-icon-clock-blue-light
//   background-image: url('/assets/images/icons/clock-blue-light.svg')
//   background-repeat: no-repeat
//   background-size: 23px 22px
//   background-position: left top
//   padding-left: 23px + 8px

// .ciab-text-icon-file-blue-light
//   background-image: url('/assets/images/icons/file-blue-light.svg')
//   background-repeat: no-repeat
//   background-size: 18px 20px
//   background-position: left top
//   padding-left: 18px + 8px

// .ciab-text-icon-marker-blue-light
//   background-image: url('/assets/images/icons/map-marker-alt-blue-light.svg')
//   background-repeat: no-repeat
//   background-size: 20px 25px
//   background-position: left top
//   padding-left: 25px + 8px
