<app-page-header>
  <h1 class="mb-0" i18n>Confira aqui as informações sobre o evento</h1>
</app-page-header>
<div id="data-e-localizacao" class="ciab-section app-informations-section-how-to-get">
  <div class="container">
    <div class="row">
      <div class="col-5">
        <div class="ciab-section-box-white">
          <h4 class="ciab-text-icon-calendar-red" i18n>23 a 25 de junho de 2020</h4>
          <p i18n>
            <span class="font-weight-bold">Exposição</span><br>
            Das 10h às 19h
          </p>
          <p i18n>
            <span class="font-weight-bold">Congresso</span><br>
            Das 10h às 18h30
          </p>
          <h4 class="ciab-text-icon-marker-red" i18n>Localização</h4>
          <p i18n>
            <span class="font-weight-bold">Transamerica Expo Center</span><br>
            Av. Dr. Mário Villas Boas Rodrigues, 387. Santo Amaro – 04795-90<br>
            São Paulo – SP / Brasil<br>
            Telefone: +55 11 5643-3000<br>
            <span class="ciab-text-color-red">www.transamericaexpo.com.br</span>
          </p>
        </div>
      </div>
    </div>
    <div id="como-chegar" class="row mt-3 mt-lg-5">
      <div class="col-md-4">
        <h2 class="mb-3" i18n>Como chegar</h2>
      </div>
      <div class="col-md-8">
        <div class="ciab-box-icon ciab-box-icon-airplane">
          <p class="ciab-text-highlight" i18n>Aeroportos</p>
          <p i18n>
            Aeroporto de Congonhas (CGH)<br>
            Distância: Aproximadamente 14 Km
          </p>
          <p i18n>
            Aeroporto Internacional de Guarulhos (GRU)<br>
            Distância: Aproximadamente 42 Km
          </p>
        </div>
        <div class="ciab-box-icon ciab-box-icon-car">
          <p class="ciab-text-highlight" i18n>Carro</p>
          <p i18n>Acessos pela Marginal Pinheiros e Av. 23 de Maio. Próximo a importantes avenidas, como: Av. João Dias, Av. Santo Amaro, Av. Adolfo Pinheiro, Av. Roberto Marinho, Av. Eng. Luis Carlos Berrini.</p>
        </div>
        <div class="ciab-box-icon ciab-box-icon-subway">
          <p class="ciab-text-highlight" i18n>Metrô</p>
          <p i18n>
            Estação mais próxima: Santo Amaro (Integração entre a Linha 9-Esmeralda da CPTM e a Linha 5-Lilás do Metrô).<br>
            Distância: Aproximadamente 1,1 Km
          </p>
          <button type="button" class="ciab-button-x ciab-button-x-red" i18n>Mapa do metrô</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="visitantes-estrangeiros" class="ciab-section app-informations-section-foreign-visitors pb-0">
  <div class="app-informations-section-foreign-visitors-background-color">
    <div class="app-informations-section-foreign-visitors-background-image">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="ciab-section-box-white">
          <h2 class="mb-3" i18n>Visitantes estrangeiros</h2>
          <p class="font-weight-bold" i18n>Bem-vindos! O CIAB FEBRABAN acontecerá na cidade de São Paulo durante os dias 23, 24 e 25 de junho de 2020, no Transamerica Expo Center, das 10h às 19h.</p>
          <div class="ciab-bar ciab-bar-red"></div>
          <p i18n>Além de ser uma das maiores metrópoles das Américas e a 6ª maior cidade do mundo, São Paulo é uma cidade única no Brasil, é um grande centro cultural e de entretenimento. Responsável por 18% do PIB nacional, São Paulo é o mais importante centro financeiro do Brasil. Consagrado destino de negócios, a cidade recebe mais de 90 mil eventos por ano, um a cada 6 minutos. Das grandes feiras anuais que acontecem no Brasil, 75% acontecem em São Paulo. E elas atraem mais de 4 milhões de visitantes por ano.</p>
          <p class="mb-0" i18n>Apesar da fama, nem só de trabalho vive a cidade. Em São Paulo existem mais de 280 salas de cinema, 180 teatros e casas de espetáculos, mais de 90 centros culturais e 110 museus. E também muitos restaurantes e bares com 52 tipos de culinária. Não é à toa que muitos consideram a cidade um paraíso dos gourmands e dos consumistas: são mais de 240 mil lojas e mais de 75 shoppings centers.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ciab-section">
  <div class="container">
    <div class="row mb-lg-3">
      <div class="col-lg-6 mb-3 mb-lg-0">
        <div class="ciab-box-icon ciab-box-icon-visa">
          <p class="ciab-text-highlight" i18n>Visto para o Brasil</p>
          <p i18n>Se você não é residente do Brasil, por favor, consulte a embaixada ou o consulado do Brasil localizado em seu país, para saber quais são as exigências para entrada no País.</p>
          <button type="button" class="ciab-button-x ciab-button-x-red" i18n>Saiba mais</button>
        </div>
      </div>
      <div class="col-lg-6 mb-3 mb-lg-0">
        <div class="ciab-box-icon ciab-box-icon-airplane-2">
          <p class="ciab-text-highlight" i18n>Aeroportos</p>
          <p i18n>O Transamerica Expo Center fica a aproximadamente 42 quilômetros do Aeroporto Internacional de Guarulhos (GRU) e 14 quilômetros do Aeroporto de Congonhas (CGH).</p>
          <p i18n>Sugerimos que os participantes do evento contratem o táxi nos guichês das cooperativas de táxis instalados dentro dos aeroportos.</p>
          <button type="button" class="ciab-button-x ciab-button-x-red" i18n>Saiba mais</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 mb-3 mb-lg-0">
        <div class="ciab-box-icon ciab-box-icon-temperature">
          <p class="ciab-text-highlight" i18n>Temperatura</p>
          <p class="mb-0" i18n>Em junho, a temperatura média em São Paulo é 19°.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="ciab-box-icon ciab-box-icon-coin">
          <p class="ciab-text-highlight" i18n>Moeda</p>
          <p class="mb-0" i18n>Real (R$).</p>
        </div>
      </div>
    </div>
    <div class="text-center mt-3 mt-lg-5">
      <app-sponsors>
      </app-sponsors>
    </div>
  </div>
</div>
