<header class="header" [ngClass]="headerClass">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-auto">
        <div class="row align-items-center">
          <div class="col">
            <img
              src="assets/images/shared/logo-ciab-febraban-2020-white.svg"
              alt="CIAB FEBRABAN 2020"
              title="CIAB FEBRABAN 2020"
              i18n-alt="@@CiabFebraban2020"
              i18n-title="@@CiabFebraban2020"
              class="logo"
              (click)="redirectTo($event, '')">
          </div>
          <div class="col-auto text-right ciab-button-icon-nav-container">
            <button class="btn ciab-button-icon ciab-button-icon-nav" (click)="toggleNav()" #navButtonToggle></button>
          </div>
        </div>
      </div>
      <div class="col-xl-auto mt-3 mt-xl-0" [ngClass]="{ 'nav-hide' : navVisible === false }">
        <div class="row nav-mobile-overflow">
          <div class="col-xl-auto mb-3 mb-xl-0">
            <nav class="nav">
              <ul>
                <li class="nav-item" routerLink="ciab" routerLinkActive="active" (click)="redirectTo($event, 'ciab')">
                  <ng-container i18n="@@menuCiab">O CIAB</ng-container>
                  <ul>
                    <li (click)="redirectTo($event, 'ciab', 'sobre-o-ciab')">
                      <ng-container i18n="@@menuSobreCiab">Sobre o CIAB</ng-container>
                    </li>
                    <li (click)="redirectTo($event, 'ciab', 'febraban')">FEBRABAN</li>
                  </ul>
                </li>
                <li class="nav-item" routerLinkActive="active" (click)="redirectTo($event, 'congresso')">
                  <ng-container i18n="@@menuCongresso">Congresso</ng-container>
                  <ul>
                    <li (click)="redirectTo($event, 'congresso', 'inscricoes')">
                      <ng-container i18n="@@menuInscricoes">Inscrições</ng-container>
                    </li>
                    <li (click)="redirectTo($event, 'congresso', 'o-congresso')">
                      <ng-container i18n="@@menuCongresso">O congresso</ng-container>
                    </li>
                    <li (click)="redirectTo($event, 'congresso', 'programacao')">
                      <ng-container i18n="@@menuProgramacao">Programação</ng-container>
                    </li>
                    <li (click)="redirectTo($event, 'congresso', 'palestrantes')">
                      <ng-container i18n="@@menuPalestrantes">Palestrantes</ng-container>
                    </li>
                    <li (click)="redirectTo($event, 'congresso', 'keynote-speakers')">Keynote Speakers</li>
                  </ul>
                </li>
                <li class="nav-item" routerLinkActive="active" (click)="redirectTo($event, 'exposicao')">
                  <ng-container i18n="@@menuExposicao">Exposição</ng-container>
                  <ul>
                    <li (click)="redirectTo($event, 'exposicao', 'quero-visitar')">
                      <ng-container i18n="@@menuQueroVisitar">Quero visitar</ng-container>
                    </li>
                    <li (click)="redirectTo($event, 'exposicao', 'a-exposicao')">
                      <ng-container i18n="@@menuExposicao">A exposição</ng-container>
                    </li>
                    <li (click)="redirectTo($event, 'exposicao', 'mapa-e-expositores')">
                      <ng-container i18n="@@menuMapaExpositores">Mapa e expositores</ng-container>
                    </li>
                    <li (click)="redirectTo($event, 'patrocinar-expor')">
                      <ng-container i18n="@@menuPatrocinarExpor">Patrocinar/Expor</ng-container>
                    </li>
                  </ul>
                </li>
                <li class="nav-item" routerLinkActive="active" (click)="redirectTo($event, 'fintech')">
                  Fintech
                  <ul>
                    <li (click)="redirectTo($event, 'fintech', 'fintech-lounge')">Fintech Lounge</li>
                    <li (click)="redirectTo($event, 'fintech', 'competicao')">
                      <ng-container i18n="@@menuCompeticao">Competição</ng-container>
                    </li>
                    <li (click)="redirectTo($event, 'fintech', 'resultados')">
                      <ng-container i18n="@@menuResultados">Resultados</ng-container>
                    </li>
                  </ul>
                </li>
                <li class="nav-item" routerLinkActive="active" (click)="redirectTo($event, 'informacoes')">
                  <ng-container i18n="@@menuInformacoes">Informações</ng-container>
                  <ul>
                    <li (click)="redirectTo($event, 'informacoes', 'data-e-localizacao')">
                      <ng-container i18n="@@menuDataLocalizacao">Data e localização</ng-container>
                    </li>
                    <li (click)="redirectTo($event, 'informacoes', 'como-chegar')">
                      <ng-container i18n="@@menuComoChegar">Como chegar</ng-container>
                    </li>
                    <li (click)="redirectTo($event, 'informacoes', 'visitantes-estrangeiros')">
                      <ng-container i18n="@@menuVisitantesEstrangeiros">Visitantes estrangeiros</ng-container>
                    </li>
                  </ul>
                </li>
                <li class="nav-item" routerLinkActive="active" (click)="redirectTo($event, 'publicacoes')">
                  <ng-container i18n="@@menuPublicacoes">Publicações</ng-container>
                  <ul>
                    <li (click)="redirectTo($event, 'publicacoes', 'revista-ciab-febraban')">
                      <ng-container i18n="@@menuRevistaCiabFebraban">Revista CIAB FEBRABAN</ng-container>
                    </li>
                    <li (click)="redirectTo($event, 'publicacoes', 'pesquisa-febraban')">
                      <ng-container i18n="@@menuPesquisaFebraban">Pesquisa FEBRABAN</ng-container>
                    </li>
                    <li (click)="redirectTo($event, 'publicacoes', 'quero-anunciar')">
                      <ng-container i18n="@@menuQueroAnunciar">Quero anunciar</ng-container>
                    </li>
                  </ul>
                </li>
                <li class="nav-item" routerLinkActive="active" (click)="redirectTo($event, 'imprensa')">
                  <ng-container i18n="@@menuImprensa">Imprensa</ng-container>
                  <ul>
                    <li (click)="redirectTo($event, 'imprensa', 'assessoria-de-imprensa')">
                      <ng-container i18n="@@menuAssessoriaImprensa">Assessoria de imprensa</ng-container>
                    </li>
                    <li (click)="redirectTo($event, 'imprensa', 'noticias')">
                      <ng-container i18n="@@menuNoticias">Notícias</ng-container>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-xl-auto mb-3 mb-xl-0">
            <a href="https://www.facebook.com/noomisoficial/" target="_blank" class="btn ciab-button-icon ciab-button-icon-facebook"></a>
            <a href="https://twitter.com/NOOMISOFICIAL/" target="_blank" class="btn ciab-button-icon ciab-button-icon-twitter"></a>
            <a href="https://www.linkedin.com/showcase/noomis-ciab-febraban/" target="_blank" class="btn ciab-button-icon ciab-button-icon-linkedin"></a>
          </div>
          <div class="col-xl-auto">
            <button type="button" class="btn btn-lang">EN</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
