<header class="header" [ngClass]="headerClass">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-auto">
        <div class="row align-items-center">
          <div class="col">
            <img
              src="./assets//images/shared/logo-ciab-febraban-2020-white.svg"
              alt="CIAB FEBRABAN 2020"
              title="CIAB FEBRABAN 2020"
              class="logo"
              (click)="redirectTo('')">
          </div>
          <div class="col-auto text-right app-button-icon-nav-container">
            <button class="btn app-button-icon app-button-icon-nav" (click)="toggleNav()" #navButtonToggle></button>
          </div>
        </div>
      </div>
      <div class="col-xl-auto mt-3 mt-xl-0" [ngClass]="{ 'nav-hide' : navVisible === false }">
        <div class="row nav-mobile-overflow">
          <div class="col-xl-auto mb-3 mb-xl-0">
            <nav class="nav">
              <ul>
                <li class="nav-item" routerLinkActive="active" (click)="redirectTo('ciab')">
                  CIAB
                  <ul>
                    <li (click)="redirectTo('ciab', 'sobre-o-ciab')">Sobre o CIAB</li>
                    <li (click)="redirectTo('ciab', 'febraban')">FEBRABAN</li>
                  </ul>
                </li>
                <li class="nav-item" routerLinkActive="active" (click)="redirectTo('congresso')">
                  Congresso
                  <ul>
                    <li (click)="redirectTo('congresso', 'inscricoes')">Inscrições</li>
                    <li (click)="redirectTo('congresso', 'o-congresso')">O congresso</li>
                    <li (click)="redirectTo('congresso', 'programacao')">Programação</li>
                    <li (click)="redirectTo('congresso', 'palestrantes')">Palestrantes</li>
                    <li (click)="redirectTo('congresso', 'keynote-speakers')">Keynote Speakers</li>
                  </ul>
                </li>
                <li class="nav-item" routerLinkActive="active" (click)="redirectTo('exposicao')">
                  Exposição
                  <ul>
                    <li (click)="redirectTo('exposicao', 'quero-visitar')">Quero visitar</li>
                    <li (click)="redirectTo('exposicao', 'a-exposicao')">A exposição</li>
                    <li (click)="redirectTo('exposicao', 'mapa-e-expositores')">Mapa e expositores</li>
                    <li (click)="redirectTo('exposicao', 'patrocinar-expor')">Patrocinar/expor</li>
                  </ul>
                </li>
                <li class="nav-item" routerLinkActive="active" (click)="redirectTo('fintech')">
                  Fintech
                  <ul>
                    <li (click)="redirectTo('fintech', 'fintech-lounge')">Fintech Lounge</li>
                    <li (click)="redirectTo('fintech', 'competicao')">Competição</li>
                    <li (click)="redirectTo('fintech', 'resultados')">Resultados</li>
                  </ul>
                </li>
                <li class="nav-item" routerLinkActive="active" (click)="redirectTo('informacoes')">
                  Informações
                  <ul>
                    <li (click)="redirectTo('informacoes', 'data-e-localizacao')">Data e localização</li>
                    <li (click)="redirectTo('informacoes', 'como-chegar')">Como chegar</li>
                    <li (click)="redirectTo('informacoes', 'visitantes-estrangeiros')">Visitantes estrangeiros</li>
                  </ul>
                </li>
                <li class="nav-item" routerLinkActive="active" (click)="redirectTo('publicacoes')">
                  Publicações
                  <ul>
                    <li (click)="redirectTo('publicacoes', 'revista-ciab-febraban')">Revista CIAB FEBRABAN</li>
                    <li (click)="redirectTo('publicacoes', 'pesquisa-febraban')">Pesquisa FEBRABAN</li>
                    <li (click)="redirectTo('publicacoes', 'quero-anunciar')">Quero anunciar</li>
                  </ul>
                </li>
                <li class="nav-item" routerLinkActive="active" (click)="redirectTo('imprensa')">
                  Imprensa
                  <ul>
                    <li (click)="redirectTo('imprensa', 'assessoria-de-imprensa')">Assessoria de imprensa</li>
                    <li (click)="redirectTo('imprensa', 'noticias')">Notícias</li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-xl-auto mb-3 mb-xl-0">
            <a href="https://www.facebook.com/noomisoficial/" target="_blank" class="btn app-button-icon app-button-icon-facebook"></a>
            <a href="https://twitter.com/NOOMISOFICIAL/" target="_blank" class="btn app-button-icon app-button-icon-twitter"></a>
            <a href="https://www.linkedin.com/showcase/noomis-ciab-febraban/" target="_blank" class="btn app-button-icon app-button-icon-linkedin"></a>
          </div>
          <div class="col-xl-auto">
            <button type="button" class="btn btn-lang">EN</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
