<app-page-header>
  <h1 i18n>Conteúdo</h1>
  <app-page-header-menu></app-page-header-menu>
</app-page-header>
<div id="revista-ciab-febraban" class="ciab-section ciab-section-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-3 mb-lg-0">
        <h2 class="mb-3" i18n>Revista CIAB FEBRABAN</h2>
        <a href="https://noomis.febraban.org.br/revista/edicao85" target="_blank">
          <img
            src="../assets/images/content/revista-ciab-febraban-professores-de-bots.jpg"
            alt="Revista CIAB FEBRABAN professores de bots"
            title="Revista CIAB FEBRABAN professores de bots"
            class="ciab-content-magazine"
            style="width: auto;"
            i18n-alt
            i18n-title>
        </a>
      </div>
      <div class="col-lg-6">
        <p class="ciab-text-color-blue-dark ciab-text-highlight" i18n>Acompanhe o CIAB o ano todo na</p>
        <img
          src="../assets/images/logos/logo-noomis.png"
          alt="nommis CIAB FEBRABAN"
          title="nommis CIAB FEBRABAN"
          class="ciab-noomis-ciab-febraban">
      </div>
    </div>
    <!-- <div class="row align-items-center">
      <div class="col-md-4 text-md-right mb-3 mb-md-0">
        <img
          src="../assets/images/content/ciab-content-magazine-2019.jpg"
          alt="Revista 2019"
          title="Revista 2019"
          class="ciab-content-magazine"
          i18n-alt
          i18n-title>
      </div>
      <div class="col-md-8">
        <h2 class="mb-3" i18n>Revista CIAB FEBRABAN</h2>
        <p class="font-weight-bold" i18n>Jul / Ago 2019</p>
        <p i18n>Edição 82</p>
        <button class="ciab-button ciab-button-blue-flat" i18n>Leia agora</button>
      </div>
    </div> -->
  </div>
</div>
<div id="pesquisa-febraban" class="ciab-section ciab-content-section-research-febraban">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="mb-3" i18n>Pesquisa FEBRABAN</h2>
        <p class="mb-0" i18n>Estudo realizado anualmente pela FEBRABAN junto aos principais bancos do País com o objetivo de mapear o estágio da tecnologia bancária no Brasil e suas tendências. A Pesquisa expõe e explica de que forma o intenso uso da tecnologia no setor bancário se reverte em maior conveniência e segurança para o cliente, tornando-se um importante instrumento de discussões na academia, órgãos do governo, mídia, entre outros.</p>
      </div>
    </div>
    <div class="row mt-3 mt-lg-5 mb-md-5">
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="ciab-content-magazine-container">
          <img
            src="../assets/images/content/ciab-content-magazine-2019.jpg"
            alt="Revista 2019"
            title="Revista 2019"
            class="ciab-content-magazine"
            i18n-alt
            i18n-title>
          <div class="ciab-content-magazine-overlay">
            <div class="col-12 align-self-start">
              <p class="ciab-text-highlight" i18n>Pesquisa FEBRABAN de Tecnologia Bancária 2019</p>
            </div>
            <div class="col-12 align-self-end">
              <a href="https://issuu.com/revistaciab/docs/pesquisa_febraban_de_tecnologia_ban_74c5e71607dd95" target="_blank" class="ciab-button ciab-button-block ciab-button-blue-flat mb-3" i18n>Visualizar</a>
              <button class="ciab-button ciab-button-block ciab-button-blue-flat" i18n>Baixar o PDF</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="ciab-content-magazine-container">
          <img
            src="../assets/images/content/ciab-content-magazine-2017.jpg"
            alt="Revista 2017"
            title="Revista 2017"
            class="ciab-content-magazine"
            i18n-alt
            i18n-title>
          <div class="ciab-content-magazine-overlay">
            <div class="col-12 align-self-start">
              <p class="ciab-text-highlight" i18n>Pesquisa FEBRABAN de Tecnologia Bancária 2017</p>
            </div>
            <div class="col-12 align-self-end">
              <a href="https://issuu.com/revistaciab/docs/pesquisa_febraban_2017" target="_blank" class="ciab-button ciab-button-block ciab-button-blue-flat mb-3" i18n>Visualizar</a>
              <button class="ciab-button ciab-button-block ciab-button-blue-flat" i18n>Baixar o PDF</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="ciab-content-magazine-container">
          <img
            src="../assets/images/content/ciab-content-magazine-2015.jpg"
            alt="Revista 2015"
            title="Revista 2015"
            class="ciab-content-magazine"
            i18n-alt
            i18n-title>
          <div class="ciab-content-magazine-overlay">
            <div class="col-12 align-self-start">
              <p class="ciab-text-highlight" i18n>Pesquisa FEBRABAN de Tecnologia Bancária 2015</p>
            </div>
            <div class="col-12 align-self-end">
              <a href="https://issuu.com/revistaciab/docs/pesquisa_febraban_de_tecnologia_ban_547cac9b8acb07" target="_blank" class="ciab-button ciab-button-block ciab-button-blue-flat mb-3" i18n>Visualizar</a>
              <button class="ciab-button ciab-button-block ciab-button-blue-flat" i18n>Baixar o PDF</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="ciab-content-magazine-container">
          <img
            src="../assets/images/content/ciab-content-magazine-2014.jpg"
            alt="Revista 2014"
            title="Revista 2014"
            class="ciab-content-magazine"
            i18n-alt
            i18n-title>
          <div class="ciab-content-magazine-overlay">
            <div class="col-12 align-self-start">
              <p class="ciab-text-highlight" i18n>Pesquisa FEBRABAN de Tecnologia Bancária 2014</p>
            </div>
            <div class="col-12 align-self-end">
              <a href="https://issuu.com/revistaciab/docs/pesquisa_febraban_de_tecnologia_ban" target="_blank" class="ciab-button ciab-button-block ciab-button-blue-flat mb-3" i18n>Visualizar</a>
              <button class="ciab-button ciab-button-block ciab-button-blue-flat" i18n>Baixar o PDF</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="ciab-content-magazine-container">
          <img
            src="../assets/images/content/ciab-content-magazine-2013.jpg"
            alt="Revista 2013"
            title="Revista 2013"
            class="ciab-content-magazine"
            i18n-alt
            i18n-title>
          <div class="ciab-content-magazine-overlay">
            <div class="col-12 align-self-start">
              <p class="ciab-text-highlight" i18n>Pesquisa FEBRABAN de Tecnologia Bancária 2013</p>
            </div>
            <div class="col-12 align-self-end">
              <a href="https://issuu.com/revistaciab/docs/febraban_pesq_tec_bancaria_2013?e=15550915/12292292" target="_blank" class="ciab-button ciab-button-block ciab-button-blue-flat mb-3" i18n>Visualizar</a>
              <button class="ciab-button ciab-button-block ciab-button-blue-flat" i18n>Baixar o PDF</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ciab-content-magazine-container">
          <img
            src="../assets/images/content/ciab-content-magazine-2012.jpg"
            alt="Revista 2012"
            title="Revista 2012"
            class="ciab-content-magazine"
            i18n-alt
            i18n-title>
          <div class="ciab-content-magazine-overlay">
            <div class="col-12 align-self-start">
              <p class="ciab-text-highlight" i18n>Pesquisa FEBRABAN de Tecnologia Bancária 2012</p>
            </div>
            <div class="col-12 align-self-end">
              <a href="https://issuu.com/revistaciab/docs/febraban_pesq_tec_banc_2012?e=15550915/12292318" target="_blank" class="ciab-button ciab-button-block ciab-button-blue-flat mb-3" i18n>Visualizar</a>
              <button class="ciab-button ciab-button-block ciab-button-blue-flat" i18n>Baixar o PDF</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-3 mt-lg-5">
      <app-sponsors></app-sponsors>
    </div>
  </div>
</div>