<app-page-header
  [backgroundImage]="'./../../../../assets/images/fintech/app-fintech-background-image.jpg'">
  <h1 class="mb-0">Incentivando negócios entre fintechs e instituições financeiras</h1>
</app-page-header>
<div class="ciab-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img class="mb-3 mb-lg-5" src="./assets/images/fintech/app-fintech-ciab-fintech-lounge.jpg" alt="CIAB Fintech Lounge 2020" title="CIAB Fintech Lounge 2020">
        <img src="./assets/images/fintech/app-fintech-ciab-fintech-lounge-view.jpg" alt="CIAB Fintech Lounge 2020" title="CIAB Fintech Lounge 2020">
      </div>
      <div class="col-lg-6">
        <p class="ciab-text-highlight ciab-text-purple">De 11 a 13 de Junho</p>
        <div class="ciab-bar ciab-bar-purple"></div>
        <p>Com o objetivo de incentivar negócios entre startups e instituições financeiras, o Lounge Fintech é o ponto de encontro de Executivos de Bancos, Seguradoras, Meios de Pagamento e VCs com fintechs, startups, aceleradoras, incubadoras e hubs de inovação.</p>
        <div class="ciab-bar ciab-bar-purple"></div>
        <p>Incubadoras, aceleradoras e hubs de inovação poderão locar estações de trabalho com 5 balcões de exposição para levar grupos de startups.</p>
        <div class="ciab-bar ciab-bar-purple"></div>
        <p>Startups poderão demonstrar suas soluções para Executivos de Instituições Financeiras em balcões de exposição dentro do Lounge com um preço muito diferenciado em relação ao preço do m² do CIAB.</p>
        <div class="ciab-bar ciab-bar-purple"></div>
        <p>As Startups participantes do Fintech Lounge participarão da seleção para o campeonato de pitches. Um júri, composto por executivos de instituições financeiras e VCs, selecionará 10 startups o campeonato, as vencedoras terão reuniões garantidas com bancos para estudarem posibbilidade de negócios. (o regulamento do campeonato será divulgado em breve).</p>
      </div>
    </div>
  </div>
</div>
<div class="ciab-section ciab-section-competition pb-0">
  <div class="ciab-section-competition-background-color">
    <div class="ciab-section-competition-background-image">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="ciab-section-box-white">
          <h2 class="mb-3">Competição</h2>
          <p>O campeonato de pitches identificará soluções inovadoras que possam ter sinergia para colaborar com Bancos, Seguradoras e Instituições Financeiras.</p>
          <p class="font-weight-bold">As inscrições iniciam-se em 28 de Janeiro e vão até 25 de Março de 2020.</p>
          <h3>Premiação</h3>
          <p>35 startups brasileiras selecionadas para participar do CIAB Fintech Lounge: balcão de exposição dentro do lounge + 2 credenciais de congressistas.</p>
          <p>5 startups internacionais selecionadas para participar do CIAB Fintech Lounge: passagem aérea e hospedagem para duas pessoas participarem do CIAB Fintech Lounge + balcão de exposição dentro do lounge + 2 credenciais de congressistas.</p>
          <p>10 startups serão selecionadas para o Campeonato de pitches e 5 startups sairão vencedoras: troféus de vencedores e pelo menos 3 reuniões com lideranças de Bancos.</p>
          <p>3 startups brasileiras melhor colocadas no campeonato de pitches: passagem aérea e hospedagem para um representante de cada startup participar do estande do CIAB na Money 2020 em Las Vegas, EUA (outubro/2019).</p>
          <h3>Cronograma</h3>
          <p>Prazo de inscrição: 28 de Janeiro a 25de Março de 2019.</p>
          <p>Divulgação das 40 startups que participarão do Fintech Lounge: 29 de Abril.</p>
          <p>Divulgação das 10 startups finalistas que participarão do campeonato de pitches: 12 de Junho.</p>
          <p>Campeonato de pitches e divulgação das 5 startups vencedoras: 13 de junho.</p>
          <button type="button" class="ciab-button ciab-button-purple">Leia o regulamento</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ciab-section ciab-section-results">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h2 class="mb-3">Resultados</h2>
        <p>Conheçam as 40 fintechs finalistas que estarão no Fintech Lounge durante os três dias de evento. Parabenizamos a todos que participaram.</p>
      </div>
    </div>
    <div class="table-responsive">
      <table class="app-table-results">
        <thead>
          <tr>
            <th>Empresa</th>
            <th>Nacionalidade</th>
            <th>Site</th>
            <th>Briefing da solução</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>4KST Tecnologia</td>
            <td>Brasil</td>
            <td>www.solusconnect.com</td>
            <td>Provedor de tecnologia de autenticação multi-factor adaptativa</td>
          </tr>
          <tr>
            <td>Acordo Certo</td>
            <td>Brasil</td>
            <td>www.solusconnect.com</td>
            <td>Análise de risco de crédito para pessoa física por meio de informações alternativas</td>
          </tr>
          <tr>
            <td>Lefort</td>
            <td>México</td>
            <td>www.solusconnect.com</td>
            <td>Provedor de tecnologia de autenticação multi-factor adaptativa</td>
          </tr>
          <tr>
            <td>App Renda Fixa</td>
            <td>Brasil</td>
            <td>www.solusconnect.com</td>
            <td>Análise de risco de crédito para pessoa física por meio de informações alternativas</td>
          </tr>
          <tr>
            <td>Facetrom</td>
            <td>Israel</td>
            <td>www.solusconnect.com</td>
            <td>Provedor de tecnologia de autenticação multi-factor adaptativa</td>
          </tr>
          <tr>
            <td>Banco Digital Maré</td>
            <td>Brasil</td>
            <td>www.solusconnect.com</td>
            <td>Análise de risco de crédito para pessoa física por meio de informações alternativas</td>
          </tr>
          <tr>
            <td>Bancoin Brasil</td>
            <td>Brasil</td>
            <td>www.solusconnect.com</td>
            <td>Provedor de tecnologia de autenticação multi-factor adaptativa</td>
          </tr>
          <tr>
            <td>BLU365 Brasil</td>
            <td>Brasil</td>
            <td>www.solusconnect.com</td>
            <td>Análise de risco de crédito para pessoa física por meio de informações alternativas</td>
          </tr>
          <tr>
            <td>Cuore Platform</td>
            <td>Brasil</td>
            <td>www.solusconnect.com</td>
            <td>Provedor de tecnologia de autenticação multi-factor adaptativa</td>
          </tr>
          <tr>
            <td>Deixa que eu pago</td>
            <td>Brasil</td>
            <td>www.solusconnect.com</td>
            <td>Análise de risco de crédito para pessoa física por meio de informações alternativas</td>
          </tr>
          <tr>
            <td>EWALLY</td>
            <td>Brasil</td>
            <td>www.solusconnect.com</td>
            <td>Provedor de tecnologia de autenticação multi-factor adaptativa</td>
          </tr>
          <tr>
            <td>Saffe Ltd</td>
            <td>Inglaterra</td>
            <td>www.solusconnect.com</td>
            <td>Análise de risco de crédito para pessoa física por meio de informações alternativas</td>
          </tr>
          <tr>
            <td>Mutual</td>
            <td>Brasil</td>
            <td>www.solusconnect.com</td>
            <td>Provedor de tecnologia de autenticação multi-factor adaptativa</td>
          </tr>
          <tr>
            <td>Nagro</td>
            <td>Brasil</td>
            <td>www.solusconnect.com</td>
            <td>Análise de risco de crédito para pessoa física por meio de informações alternativas</td>
          </tr>
          <tr>
            <td>PandaPay</td>
            <td>Brasil</td>
            <td>www.solusconnect.com</td>
            <td>Provedor de tecnologia de autenticação multi-factor adaptativa</td>
          </tr>
          <tr>
            <td>Planium</td>
            <td>Brasil</td>
            <td>www.solusconnect.com</td>
            <td>Análise de risco de crédito para pessoa física por meio de informações alternativas</td>
          </tr>
          <tr>
            <td>SecureKey Technologies</td>
            <td>Canadá</td>
            <td>www.solusconnect.com</td>
            <td>Provedor de tecnologia de autenticação multi-factor adaptativa</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="ciab-section">
  <div class="container text-center">
    <h2 class="mb-3 mb-lg-5">Patrocinadores</h2>
    <h3 class="app-sponsors-h3 mb-3">Patrocinadores Fintech Lounge</h3>
    <img src="./assets/images/fintech/app-fintech-sponsors-fintech-lounge.jpg" alt="Patrocinadores Fintech Lounge" title="Patrocinadores Fintech Lounge">
    <hr class="app-sponsors-hr my-4 my-lg-5">
    <h3 class="app-sponsors-h3 mb-3">Apoio Fintech Lounge</h3>
    <img src="./assets/images/fintech/app-fintech-support-fintech-lounge.jpg" alt="Apoio Fintech Lounge" title="Apoio Fintech Lounge">
  </div>
</div>