<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="DEV" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="(\/WebCiab\/?)$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/WebCiab/pt/" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="PROD" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="(\/apidev.megaleios.com\/?)" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/pt/" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Angular" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_URI}" pattern="\/(en|pt)\/?" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="./{C:1}/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
