
@import './../../../../../assets/sass/imports/media-queries'

.app-modal-modal-register-form
  padding: 30px
  h3
    font-size: 32px
    font-weight: 800
    text-transform: uppercase

.app-modal-register-background
  height: 100%
  background-image: url('~/assets/images/shared/background-modal-cadastre-se.jpg')
  background-position: center top
  background-repeat: no-repeat
  background-size: cover
  padding: 30px
  p
    font-size: 24px
    font-weight: 600
    line-height: 1.5
    color: #FFF


.ciab-link-fake
  cursor: pointer
  &:hover
    text-decoration: underline

.ciab-modal-body
  font-size: 12px
  line-height: 1.5
  padding: 16px
  @include MQ(MD)
    padding: 32px

@include MQ(LG)
  .app-modal-register-background
    background-position: center bottom
    > div
      padding: 40px 25px
  .app-modal-modal-register-form
    > div
      padding: 40px 25px
