<form [formGroup]="scheduleSpeakersForm">
  <div class="form-row align-items-end">
    <div class="col-lg-3">
      <div class="form-group mb-lg-0">
        <label for="theme">Tema</label>
        <select id="theme" class="form-control" formControlName="theme">
          <option
            [ngValue]="item.id"
            *ngFor="let item of themeList">
            {{ item.theme }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group mb-lg-0">
        <label for="place">Letra inicial</label>
        <select id="place" class="form-control" formControlName="place">
          <option
            [ngValue]="item.id"
            *ngFor="let item of letterList">
            {{ item.letter }}
          </option>
        </select>
      </div>
    </div>
  </div>
</form>
