<form [formGroup]="scheduleSpeakersForm">
  <div class="form-row align-items-center">
    <div class="col-lg-3">
      <div class="form-group mb-lg-0">
        <mat-form-field appearance="outline">
          <mat-label i18n>Temas</mat-label>
          <mat-select formControlName="themes" multiple>
            <mat-option *ngFor="let theme of themeList" [value]="theme.theme">{{ theme.theme }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group mb-0">
        <mat-form-field appearance="outline">
          <mat-label i18n>Letra inicial</mat-label>
          <mat-select formControlName="letters" multiple>
            <mat-option *ngFor="let letter of letterList" [value]="letter.letter">{{ letter.letter }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</form>
