
.buttons-container
  margin: $SPACE 0
  > .btn:not(:last-child)
    margin-right: $SPACE / 4

.btn-icon
  width: 34px
  height: 34px
  background-color: transparent
  background-position: center
  background-repeat: no-repeat
  padding: 0
  border-radius: 0
  &:not(:last-child)
    margin-right: 4px
