
@import './imports/variables.sass'

.ciab-text-color-blue-light
  color: $BLUE_LIGHT

.ciab-text-color-blue-dark
  color: $BLUE_DARK

.ciab-text-color-blue-flat
  color: $BLUE_FLAT

.ciab-text-color-red
  color: $RED

.ciab-text-color-green
  color: $GREEN

.ciab-text-color-purple
  color: $PURPLE

.ciab-text-color-yellow
  color: $YELLOW

.ciab-text-color-gray
  color: $GRAY

.ciab-text-highlight
  font-size: 26px
  font-weight: 800
  line-height: normal
