
@import './imports/variables'

.modal-backdrop.show
  opacity: 0.9

.modal-dialog
  padding: 0 7px

.carousel-control-prev,
.carousel-control-next
  cursor: pointer

.modal-video
  .modal-content
    background-color: #000
    font-size: 0
    border-radius: 0

// start app-speaker-list-modal styles

.ciab-speaker-modal-body
  .carousel-indicators
    margin-bottom: 0
    > li
      background-color: $BLUE_DARK
      border: 0

// end app-speaker-list-modal styles
