<app-slider>
  <div id="slide-1" #slide>
    <div class="container d-flex align-items-center h-100">
      <div>
        <div class="row align-items-center">
          <div class="col">
            <h2 class="title">
              Vem aí o maior congresso<br>
              de tecnologia da informação<br>
              e digital para o setor financeiro
            </h2>
            <div class="row">
              <div class="col-xl-auto">
                <p class="text text-icon text-icon-calendar mb-xl-0">
                  23 a 25 de Julho de 2020
                </p>
              </div>
              <div class="col-xl-auto">
                <p class="text text-icon text-icon-marker mb-0">
                  Transamerica Expo Center<br>
                  São Paulo
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="slide-2" #slide>
    <div class="container d-flex align-items-center h-100">
      <div>
        <div class="row align-items-center">
          <div class="col col-xl-7">
            <h2 class="title m-0">Event video</h2>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et fermentum arcu.</p>
            <button type="button" class="button">Assista ao vídeo</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="slide-3" #slide>
    <div class="container d-flex align-items-center h-100">
      <div>
        <div class="row align-items-center">
          <div class="col-md-6 mb-3 mb-md-0">
            <img class="image-1" src="./assets/images/slide-3-image-1.png" alt="" title="">
          </div>
          <div class="col-md-6">
            <h2 class="title">O CIAB FEBRABAN agora tem dia para começar, mas não tem dia para terminar.</h2>
            <p>
              <a routerLink="" class="link">Acesse</a>
            </p>
            <img class="image-2" src="./assets/images/slide-3-image-2.png" alt="noomis CIAB FEBRABAN" title="noomis CIAB FEBRABAN">
          </div>
        </div>
      </div>
    </div>
  </div>
</app-slider>
<div class="container">
  <div class="app-box app-box-blue" style="margin-top: 32px;">
    <div class="row">
      <div class="col">
        <h3 class="title">Quando e onde</h3>
      </div>
      <div class="col">
        <p class="m-0">23 a 25 de julho de 2020</p>
      </div>
      <div class="col">
        <p class="m-0">Transamerica Expo Center, São Paulo</p>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 32px;">
    <div class="col-xl-4 mb-3 mb-xl-0">
      <div class="app-box app-box-red">
        <div class="app-box-bar"></div>
        <p class="app-box-title">Cadastre-se</p>
        <p class="mb-0">Cadastre-se para receber as novidades do evento.</p>
      </div>
    </div>
    <div class="col-xl-4 mb-3 mb-xl-0">
      <div class="app-box app-box-green">
        <div class="app-box-bar"></div>
        <p class="app-box-title">Patrocinar/Expor</p>
        <p class="mb-0">Participe do maior evento para o setor financeiro da América Latina.</p>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="app-box app-box-blue-light">
        <div class="app-box-bar"></div>
        <p class="app-box-title">Inscrição</p>
        <p class="mb-0">O maior evento de tecnologia para o setor financeiro.</p>
      </div>
    </div>
  </div>
  <p id="sobre-o-ciab" class="sobre-o-ciab">Sobre o CIAB FEBRABAN</p>
  <h2 class="vem-ai-o">Vem aí o maior evento de tecnologia do setor mais tecnológico do país</h2>
  <div class="row">
    <div class="col-6">
      <div class="app-box app-box-blue-light">
        <div class="app-box-bar"></div>
        <p>O CIAB FEBRABAN é o lugar para ficar por dentro dos assuntos mais importantes sobre tecnologias disruptivas, transformações digitais e o futuro do sistema financeiro.</p>
        <p>Anote na sua agenda! O CIAB FEBRABAN 2020 acontecerá de 23 a 25 de junho - Transamerica Expo Center, em São Paulo - 10h às 19h</p>
      </div>
    </div>
  </div>
</div>
