
@import './../../../../../assets/sass/imports/media-queries'

#slide-1
  background-color: #753BBD
  .title
    font-size: 24px
    font-weight: 800
    text-transform: uppercase
    line-height: 1.25
    color: #FFF
  .text
    font-size: 16px
    font-weight: 600
    color: #FFF
  .text-icon
    position: relative
    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      background-repeat: no-repeat
      background-size: contain
  .text-icon-calendar
    padding-left: 32px
    &:before
      width: 24px
      height: 28px
      background-image: url('./../../../../../assets/images/icons/calendar-plus-yellow.svg')
  .text-icon-marker
    padding-left: 28px
    &:before
      width: 20px
      height: 24px
      background-image: url('./../../../../../assets/images/icons/map-marker-alt-yellow.svg')

#slide-2
  background-image: url('./../../../../../assets/images/home/slide-2-background-image-1.png')
  background-position: 100% 50%
  background-repeat: no-repeat
  background-size: cover
  .title
    font-size: 36px
    font-weight: 800
    text-transform: uppercase
    color: #FFFFFF
  .text
    font-size: 18px
    font-weight: 600
    color: #FFFFFF
  .button
    position: relative
    background-color: transparent
    font-size: 14px
    font-weight: bold
    text-transform: uppercase
    line-height: 90px
    color: #FFF
    padding-left: 106px
    border: 0
    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 90px
      height: 90px
      background-color: #FF585D
      background-image: url('./../../../../../assets/images/icons/play-solid.svg')
      background-repeat: no-repeat
      background-size: 20px 23px
      background-position: center
      border-radius: 100%


#slide-3
  background-color: #BEC9CE
  .image-1
    max-width: 50%
  .title
    font-size: 24px
    font-weight: 800
    text-transform: uppercase
    color: #144372
  .link
    font-size: 20px
    font-weight: 900
    color: #09A590
    text-decoration: underline
  .image-2
    max-width: 50%

.app-box
  color: #FFFFFF
  padding: 50px 40px

.app-box-blue
  background-color: #001A72
  padding: 30px 40px
  .title
    font-size: 18px
    font-weight: 800
    text-transform: uppercase
    margin: 0 !important

.app-box-red
  background-color: #FF585D

.app-box-green
  background-color: #00AF66

.app-box-blue-light
  background-color: #00A9CE

.app-box-bar
  width: 34px
  height: 12px
  background-color: rgba(255, 255, 255, 0.5)
  margin-bottom: 16px

.app-box-title
  font-size: 20px
  font-weight: 800
  text-transform: uppercase

.sobre-o-ciab-background
  background-image: url('./../../../../../assets/images/home/evento-ciab-febraban-background.png')
  background-repeat: no-repeat
  background-position: left bottom

.sobre-o-ciab
  font-size: 20px
  font-weight: bold
  text-transform: uppercase
  margin-top: 105px

.vem-ai-o
  font-size: 42px
  font-weight: 800
  text-transform: uppercase
  line-height: 1.25
  color: #000000
  margin-bottom: 60px !important

@include MQ(MD)
  #slide-3
    .image-1
      max-width: 100%

@include MQ(XL)
  #slide-1
    background-image: url('./../../../../../assets/images/home/slide-1-background-image-1.png')
    background-position: left center
    background-repeat: no-repeat
    background-size: 1560px 720px
    .title
      font-size: 42px
    .text
      font-size: 18px
  #slide-2
    .title
      font-size: 60px
  #slide-3
    .title
      font-size: 34px
  .app-box-absolute
    position: absolute
    z-index: 1
    top: 0
    width: calc(50% - 30px)
  .evento-ciab-febraban
    margin-top: 60px
