<app-slider>
  <div id="slide-1" #slide>
    <div class="container d-flex align-items-center h-100">
      <div>
        <div class="row align-items-center">
          <div class="col">
            <h2 class="title" i18n>
              Vem aí o maior congresso<br>
              de tecnologia da informação<br>
              e digital para o setor financeiro
            </h2>
            <div class="row">
              <div class="col-xl-auto">
                <button class="ciab-button-dropdown" mat-button [matMenuTriggerFor]="menu">
                  <p class="text ciab-text-icon-calendary mb-xl-0" i18n>23 a 25 de junho de 2020</p>
                </button>
                <mat-menu class="ciab-button-dropdown-menu" #menu="matMenu">
                  <a
                    mat-menu-item
                    href="https://calendar.google.com/calendar/r/eventedit/copy/NmhtYXFrMjhlbGk0c2V1YzYyM2wxMHJuNW4gZmVicmFiYW4uZXZlbnRvc0Bt/YnJ1bm8uYm9tYm9uYXRlQG1lZ2FsZWlvcy5jb20?sf=true"
                    target="_blank">
                    <span class="mat-menu-item-google"></span> Google Calendar
                  </a>
                  <a
                    mat-menu-item
                    href="assets/files/ciab-febraban-2020.ics"
                    download>
                    <span class="mat-menu-item-outlook"></span> Microsoft Outlook
                  </a>
                  <a
                    mat-menu-item
                    href="assets/files/ciab-febraban-2020.ics"
                    download>
                    <span class="mat-menu-item-apple"></span> Apple Calendar
                  </a>
                </mat-menu>
              </div>
              <div class="col-xl-auto">
                <p class="text ciab-text-icon-marker mb-0">
                  Transamerica Expo Center<br>
                  São Paulo
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="slide-2" #slide>
    <div class="container d-flex align-items-center h-100">
      <div>
        <div class="row align-items-center">
          <div class="col col-xl-8">
            <h2 class="title m-0" i18n>CIAB FEBRABAN 30 anos</h2>
            <p class="text" i18n>Desde 1991, debatendo os principais temas da transformação tecnológica do setor financeiro.</p>
            <button class="button" (click)="openModalVideo('1mFGjfjJEdY')" i18n>Assista ao vídeo</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="slide-3" #slide>
    <div class="container d-flex align-items-center h-100">
      <div>
        <div class="row align-items-center">
          <div class="col-md-6 mb-3 mb-md-0">
            <img src="../assets/images/home/slide-3-image-1.png" class="image-1">
          </div>
          <div class="col-md-6 text-md-right">
            <h2 class="title" i18n>O CIAB FEBRABAN agora tem dia para começar, mas não tem dia para terminar.</h2>
            <div class="my-3">
              <button class="ciab-button ciab-button-green" i18n>Acesse</button>
            </div>
            <img
              src="../assets/images/shared/logo-noomis.png"
              alt="noomis CIAB FEBRABAN"
              title="noomis CIAB FEBRABAN"
              class="image-2"
              i18n-alt
              i18n-title>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-slider>
<div class="container">
  <div class="ciab-box ciab-box-blue-dark my-3">
    <div class="row align-items-center">
      <div class="col-md-4 mb-3 mb-md-0">
        <p class="ciab-box-title m-0" i18n>Quando e onde</p>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <button class="ciab-button-dropdown" mat-button [matMenuTriggerFor]="menu">
          <p class="ciab-text-icon-calendar-blue m-0" i18n>23 a 25 de junho de 2020</p>
        </button>
        <mat-menu class="ciab-button-dropdown-menu" #menu="matMenu">
          <a
            mat-menu-item
            href="https://calendar.google.com/calendar/r/eventedit/copy/NmhtYXFrMjhlbGk0c2V1YzYyM2wxMHJuNW4gZmVicmFiYW4uZXZlbnRvc0Bt/YnJ1bm8uYm9tYm9uYXRlQG1lZ2FsZWlvcy5jb20?sf=true"
            target="_blank">
            <span class="mat-menu-item-google"></span> Google Calendar
          </a>
          <a
            mat-menu-item
            href="assets/files/ciab-febraban-2020.ics"
            download>
            <span class="mat-menu-item-outlook"></span> Microsoft Outlook
          </a>
          <a
            mat-menu-item
            href="assets/files/ciab-febraban-2020.ics"
            download>
            <span class="mat-menu-item-apple"></span> Apple Calendar
          </a>
        </mat-menu>
      </div>
      <div class="col-md-4">
        <p class="ciab-text-icon-marker-blue m-0">Transamerica Expo Center, São Paulo</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 mb-3 mb-lg-0">
      <button class="ciab-button ciab-button-red ciab-button-home" (click)="openModalRegisterForm()">
        <div class="ciab-bar ciab-bar-white-transparent"></div>
        <p class="ciab-box-title" i18n>Cadastre-se</p>
        <p class="mb-0" i18n>Cadastre-se para receber as novidades do evento.</p>
      </button>
    </div>
    <div class="col-lg-4 mb-3 mb-lg-0">
      <button class="ciab-button ciab-button-green ciab-button-home" (click)="redirectTo('patrocinar-expor')">
        <div class="ciab-bar ciab-bar-white-transparent"></div>
        <p class="ciab-box-title" i18n>Patrocinar/Expor</p>
        <p class="mb-0" i18n>Participe do maior evento para o setor financeiro da América Latina.</p>
      </button>
    </div>
    <div class="col-lg-4">
      <button class="ciab-button ciab-button-blue-light ciab-button-home" (click)="redirectTo('inscricao')">
        <div class="ciab-bar ciab-bar-white-transparent"></div>
        <p class="ciab-box-title" i18n>Inscrição</p>
        <p class="mb-0" i18n>O maior evento de tecnologia para o setor financeiro.</p>
      </button>
    </div>
  </div>
</div>
<div class="ciab-section app-about-ciab pb-0">
  <div class="container">
    <span class="app-about-ciab-text mb-2" i18n>Sobre o CIAB FEBRABAN</span>
    <h2 class="mb-3 mb-lg-5" i18n>Vem aí o maior evento de tecnologia do setor mais tecnológico do País</h2>
    <div class="row position-relative">
      <div class="position-static col">
        <div class="ciab-box ciab-box-absolute ciab-box-blue-light">
          <div class="ciab-bar ciab-bar-white-transparent"></div>
          <p i18n>O CIAB FEBRABAN é o lugar para ficar por dentro dos assuntos mais importantes sobre tecnologias disruptivas, transformações digitais e o futuro do sistema financeiro.</p>
          <p class="mb-0" i18n>Anote na sua agenda! O <b>CIAB FEBRABAN 2020</b> acontecerá de <b>23 a 25 de junho de 2020</b> - Transamerica Expo Center, em São Paulo - 10h às 19h.</p>
        </div>
      </div>
      <div class="col-12 text-right">
        <img
          src="../assets/images/home/evento-ciab-febraban.jpg"
          alt="Evento CIAB FEBRABAN"
          title="Evento CIAB FEBRABAN"
          class="evento-ciab-febraban"
          i18n-alt
          i18n-title>
      </div>
    </div>
  </div>
</div>
<div class="ciab-section">
  <div class="container">
    <h2 class="text-center mb-3 mb-lg-5" i18n>Keynote speakers</h2>
    <app-speaker-list [speakerList]="speakerList"></app-speaker-list>
    <div class="text-center">
      <button class="ciab-button ciab-button-blue" (click)="redirectTo('keynote-speakers')" i18n>Ver todos os keynote speakers</button>
    </div>
  </div>
</div>
<div class="ciab-section ciab-section-gray text-center">
  <div class="container">
    <h2 class="mb-3" i18n>Planta da exposição</h2>
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <p i18n>Conheça as oportunidades e garanta já o seu espaço. Venha expor a sua empresa no maior evento do setor.</p>
      </div>
    </div>
    <img
      src="../assets/images/home/planta-oficial-ciab-febraban.jpg"
      alt="Planta oficial CIAB FEBRABAN"
      title="Planta oficial CIAB FEBRABAN"
      i18n-alt
      i18n-title>
    <div class="text-center mt-4">
      <button class="ciab-button ciab-button-green" (click)="redirectTo('exposicao', 'mapa-e-expositores')" i18n>Ver expositores</button>
    </div>
  </div>
</div>
<div class="ciab-section">
  <div class="container">
    <app-banner-sponsor-exhibit>
    </app-banner-sponsor-exhibit>
    <h2 class="my-3 my-lg-5" i18n>Vídeos</h2>
    <app-gallery
      [photoList]="photoList">
    </app-gallery>
    <div class="text-center mt-3 mt-lg-5">
      <app-sponsors>
      </app-sponsors>
    </div>
  </div>
</div>
